<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Report.Cst.Sb.SbProjectCostCmps">

    <select id="list" parameterType="com.iflat.report.bean.cst.sb.SbProjectCostCmps" resultMap="RptCstSbSbProjectCostCmpsResult">
        SELECT b.projNo,b.name,b.target,c.actual
        FROM (
        SELECT cpbh AS projNo, name, sum(je) AS target
        FROM (SELECT cpbh,mbcbbh,je,(CASE WHEN mbcbbh LIKE 'C%' OR mbcbbh LIKE 'S%' THEN '器材费' WHEN mbcbbh LIKE 'Z20%' THEN '加工费' WHEN mbcbbh LIKE 'Z30%' THEN '专项费' ELSE '' END) AS name
        FROM [192.168.0.99\cb].[cbxt].[dbo].[mbcb]
        WHERE cpbh = #{projNo} AND mbcbbh IN (SELECT mbcbbh FROM [192.168.0.99\cb].[cbxt].[dbo].[mbcbdm] WHERE isnull(mjbz,'0') = '1')) a
        WHERE a.name='器材费' OR a.name='加工费' OR a.name='专项费'
        GROUP BY a.cpbh,a.name) b
        LEFT JOIN
        (SELECT gcbh AS projNo,(CASE WHEN yyyymm='用友专项费' THEN '专项费' WHEN yyyymm='物资领料' THEN '器材费' ELSE '加工费' END) AS name,SUM(je) AS actual
        FROM [192.168.0.99\cb].[cbxt].[dbo].[uv_getcb_ini]
        WHERE gcbh IN (SELECT gcbh FROM [192.168.0.99\cb].[cbxt].[dbo].[uv_outercode_gcdm] WHERE cpbh = #{projNo})
        GROUP BY gcbh,(CASE WHEN yyyymm='用友专项费' THEN '专项费' WHEN yyyymm='物资领料' THEN '器材费' ELSE '加工费' END)) c
        ON b.projNo=c.projNo AND b.name=c.name
    </select>

    <resultMap type="com.iflat.report.bean.cst.sb.SbProjectCostCmps" id="RptCstSbSbProjectCostCmpsResult">
        <result property="projNo" column="projNo" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="target" column="target" jdbcType="DOUBLE"/>
        <result property="actual" column="actual" jdbcType="DOUBLE"/>
    </resultMap>
</mapper>