<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="codeAction" class="com.iflat.code.action.CodeAction" scope="prototype">
        <property name="result" ref="result"/>
        <property name="workerManager" ref="workerManager"/>
        <property name="worker" ref="worker"/>
        <property name="teamManager" ref="teamManager"/>
        <property name="team" ref="team"/>
        <property name="groupManager" ref="groupManager"/>
        <property name="group" ref="group"/>
    </bean>

    <bean id="groupManager" class="com.iflat.code.service.impl.GroupManagerImpl">
    </bean>
    <bean id="groupDao" class="com.iflat.code.dao.impl.GroupDaoImpl">
    </bean>

    <bean id="workerManager" class="com.iflat.code.service.impl.WorkerManagerImpl">
    </bean>
    <bean id="workerDao" class="com.iflat.code.dao.impl.WorkerDaoImpl">
    </bean>

    <bean id="teamManager" class="com.iflat.code.service.impl.TeamManagerImpl">
    </bean>
    <bean id="teamDao" class="com.iflat.code.dao.impl.TeamDaoImpl">
    </bean>

    <bean id="team" class="com.iflat.code.bean.Team" scope="prototype"/>
    <bean id="worker" class="com.iflat.code.bean.Worker" scope="prototype"/>
    <bean id="group" class="com.iflat.code.bean.Group" scope="prototype"/>
</beans>