<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="airLoginAction" class="com.iflat.air.action.LoginAction" scope="prototype">
        <property name="result" ref="result"></property>
        <property name="user" ref="user"></property>
        <property name="userManager" ref="userManager"></property>
    </bean>

    <bean id="airLibAction" class="com.iflat.air.action.LibAction" scope="prototype">
        <property name="result" ref="result"/>
        <property name="bookManager" ref="bookManager"/>
        <property name="book" ref="book"/>
        <property name="recordManager" ref="recordManager"/>
        <property name="record" ref="record"/>
    </bean>

</beans>