<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="biAction" class="com.iflat.bi.action.BiAction" scope="prototype">
        <property name="result" ref="result"/>
        <property name="additionalBillManager" ref="additionalBillManager"/>
        <property name="additionalBill" ref="additionalBill"/>
        <property name="contractManager" ref="contractManager"/>
        <property name="contract" ref="contract"/>
        <property name="deptCstCtrlManager" ref="deptCstCtrlManager"/>
        <property name="deptCstCtrl" ref="deptCstCtrl"/>
        <property name="majorDevCstManager" ref="majorDevCstManager"/>
        <property name="majorDevCst" ref="majorDevCst"/>
        <property name="majorMatCstManager" ref="majorMatCstManager"/>
        <property name="majorMatCst" ref="majorMatCst"/>
        <property name="majorMatQtyManager" ref="majorMatQtyManager"/>
        <property name="majorMatQty" ref="majorMatQty"/>
        <property name="projectManager" ref="projectManager"/>
        <property name="project" ref="project"/>
        <property name="projectCostManager" ref="projectCostManager"/>
        <property name="projectCost" ref="projectCost"/>
        <property name="projectCstCtrlManager" ref="projectScheduleManager"/>
        <property name="projectCstCtrl" ref="projectCstCtrl"/>
        <property name="projectInProcessManager" ref="projectInProcessManager"/>
        <property name="projectInProcess" ref="projectInProcess"/>
        <property name="projectManHourManager" ref="projectManHourManager"/>
        <property name="projectManHour" ref="projectManHour"/>
        <property name="projectScheduleManager" ref="projectScheduleManager"/>
        <property name="projectSchedule" ref="projectSchedule"/>
        <property name="projectInfoManager" ref="projectInfoManager"/>
        <property name="projectInfo" ref="projectInfo"/>
        <property name="projectInProcessInfoManager" ref="projectInProcessInfoManager"/>
        <property name="projectInProcessInfo" ref="projectInProcessInfo"/>
    </bean>

    <bean id="projectInProcessInfoManager" class="com.iflat.bi.service.impl.ProjectInProcessInfoManagerImpl">
    </bean>
    <bean id="projectInProcessInfoDao" class="com.iflat.bi.dao.impl.ProjectInProcessInfoDaoImpl">
    </bean>

    <bean id="projectInfoManager" class="com.iflat.bi.service.impl.ProjectInfoManagerImpl">
    </bean>
    <bean id="projectInfoDao" class="com.iflat.bi.dao.impl.ProjectInfoDaoImpl">
    </bean>

    <bean id="additionalBillManager" class="com.iflat.bi.service.impl.AdditionalBillManagerImpl">
    </bean>
    <bean id="additionalBillDao" class="com.iflat.bi.dao.impl.AdditionalBillDaoImpl">
    </bean>

    <bean id="contractManager" class="com.iflat.bi.service.impl.ContractManagerImpl">
    </bean>
    <bean id="contractDao" class="com.iflat.bi.dao.impl.ContractDaoImpl">
    </bean>

    <bean id="deptCstCtrlManager" class="com.iflat.bi.service.impl.DeptCstCtrlManagerImpl">
    </bean>
    <bean id="deptCstCtrlDao" class="com.iflat.bi.dao.impl.DeptCstCtrlDaoImpl">
    </bean>

    <bean id="majorDevCstManager" class="com.iflat.bi.service.impl.MajorDevCstManagerImpl">
        <property name="iflatManager" ref="projectInfoManager"/>
    </bean>
    <bean id="majorDevCstDao" class="com.iflat.bi.dao.impl.MajorDevCstDaoImpl">
    </bean>

    <bean id="majorMatCstManager" class="com.iflat.bi.service.impl.MajorMatCstManagerImpl">
        <property name="iflatManager" ref="projectInfoManager"/>
    </bean>
    <bean id="majorMatCstDao" class="com.iflat.bi.dao.impl.MajorMatCstDaoImpl">
    </bean>

    <bean id="majorMatQtyManager" class="com.iflat.bi.service.impl.MajorMatQtyManagerImpl">
    </bean>
    <bean id="majorMatQtyDao" class="com.iflat.bi.dao.impl.MajorMatQtyDaoImpl">
    </bean>

    <bean id="projectManager" class="com.iflat.bi.service.impl.ProjectManagerImpl">
    </bean>
    <bean id="projectDao" class="com.iflat.bi.dao.impl.ProjectDaoImpl">
    </bean>

    <bean id="projectCostManager" class="com.iflat.bi.service.impl.ProjectCostManagerImpl">
        <property name="iflatManager" ref="projectInfoManager"/>
    </bean>
    <bean id="projectCostDao" class="com.iflat.bi.dao.impl.ProjectCostDaoImpl">
    </bean>

    <bean id="projectCstCtrlManager" class="com.iflat.bi.service.impl.ProjectCstCtrlManagerImpl">
    </bean>
    <bean id="projectCstCtrlDao" class="com.iflat.bi.dao.impl.ProjectCstCtrlDaoImpl">
    </bean>

    <bean id="projectInProcessManager" class="com.iflat.bi.service.impl.ProjectInProcessManagerImpl">
    </bean>
    <bean id="projectInProcessDao" class="com.iflat.bi.dao.impl.ProjectInProcessDaoImpl">
    </bean>

    <bean id="projectManHourManager" class="com.iflat.bi.service.impl.ProjectManHourManagerImpl">
    </bean>
    <bean id="projectManHourDao" class="com.iflat.bi.dao.impl.ProjectManHourDaoImpl">
    </bean>

    <bean id="projectScheduleManager" class="com.iflat.bi.service.impl.ProjectScheduleManagerImpl">
    </bean>
    <bean id="projectScheduleDao" class="com.iflat.bi.dao.impl.ProjectScheduleDaoImpl">
    </bean>

    <bean id="additionalBill" class="com.iflat.bi.bean.AdditionalBill" scope="prototype"/>
    <bean id="contract" class="com.iflat.bi.bean.Contract" scope="prototype"/>
    <bean id="deptCstCtrl" class="com.iflat.bi.bean.DeptCstCtrl" scope="prototype"/>
    <bean id="majorDevCst" class="com.iflat.bi.bean.MajorDevCst" scope="prototype"/>
    <bean id="majorMatCst" class="com.iflat.bi.bean.MajorMatCst" scope="prototype"/>
    <bean id="majorMatQty" class="com.iflat.bi.bean.MajorMatQty" scope="prototype"/>
    <bean id="project" class="com.iflat.bi.bean.Project" scope="prototype"/>
    <bean id="projectCost" class="com.iflat.bi.bean.ProjectCost" scope="prototype"/>
    <bean id="projectCstCtrl" class="com.iflat.bi.bean.ProjectCstCtrl" scope="prototype"/>
    <bean id="projectInProcess" class="com.iflat.bi.bean.ProjectInProcess" scope="prototype"/>
    <bean id="projectManHour" class="com.iflat.bi.bean.ProjectManHour" scope="prototype"/>
    <bean id="projectSchedule" class="com.iflat.bi.bean.ProjectSchedule" scope="prototype"/>
    <bean id="projectInfo" class="com.iflat.bi.entity.ProjectInfo" scope="prototype"/>
    <bean id="projectInProcessInfo" class="com.iflat.bi.entity.ProjectInProcessInfo" scope="prototype"/>
</beans>