<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Bi.Contract">

    <insert id="insert" parameterType="com.iflat.bi.bean.Contract">
        INSERT INTO BiContract
        VALUES (#{id},#{projNo},#{owner},#{surveyor},#{deliveryDate},#{amount},#{currency},#{contractRate},#{usd},#{actualRate},#{cny},#{usdAdd},#{cnyAdd},#{commissionPct},#{fixed},#{version})
    </insert>

    <update id="update" parameterType="com.iflat.bi.bean.Contract">
        UPDATE BiContract
        SET projNo=#{projNo},owner=#{owner},surveyor=#{surveyor},deliveryDate=#{deliveryDate},amount=#{amount},currency=#{currency},contractRate=#{contractRate},usd=#{usd},actualRate=#{actualRate},cny=#{cny},usdAdd=#{usdAdd},cnyAdd=#{cnyAdd},commissionPct=#{commissionPct},fixed=#{fixed},version=#{version}
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.iflat.bi.bean.Contract">
        DELETE BiContract
        WHERE id=#{id}
    </delete>

    <select id="list" parameterType="com.iflat.bi.bean.Contract" resultMap="BiContractResult">
        SELECT id,projNo,owner,surveyor,deliveryDate,amount,currency,contractRate,usd,actualRate,cny,usdAdd,cnyAdd,commissionPct,fixed,version
        FROM BiContract
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="projNo!=null">AND projNo=#{projNo}</if>
            <if test="owner!=null">AND owner=#{owner}</if>
            <if test="surveyor!=null">AND surveyor=#{surveyor}</if>
        </where>
    </select>

    <resultMap type="com.iflat.bi.bean.Contract" id="BiContractResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="projNo" column="projNo" jdbcType="VARCHAR"/>
        <result property="owner" column="owner" jdbcType="VARCHAR"/>
        <result property="surveyor" column="surveyor" jdbcType="VARCHAR"/>
        <result property="deliveryDate" column="deliveryDate" jdbcType="DATE"/>
        <result property="amount" column="amount" jdbcType="DOUBLE"/>
        <result property="currency" column="currency" jdbcType="VARCHAR"/>
        <result property="contractRate" column="contractRate" jdbcType="DOUBLE"/>
        <result property="usd" column="usd" jdbcType="DOUBLE"/>
        <result property="actualRate" column="actualRate" jdbcType="DOUBLE"/>
        <result property="cny" column="cny" jdbcType="DOUBLE"/>
        <result property="usdAdd" column="usdAdd" jdbcType="DOUBLE"/>
        <result property="cnyAdd" column="cnyAdd" jdbcType="DOUBLE"/>
        <result property="commissionPct" column="commissionPct" jdbcType="DOUBLE"/>
        <result property="fixed" column="fixed" jdbcType="DATE"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>
</mapper>