<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Bi.ProjectManHour">

    <insert id="insert" parameterType="com.iflat.bi.bean.ProjectManHour">
        INSERT INTO BiProjectManHour
        VALUES (#{id},#{projNo},#{dept},#{casualLabor},#{employee},#{month},#{fixed},#{version})
    </insert>

    <update id="update" parameterType="com.iflat.bi.bean.ProjectManHour">
        UPDATE BiProjectManHour
        SET projNo=#{projNo},dept=#{dept},casualLabor=#{casualLabor},employee=#{employee},month=#{month},fixed=#{fixed},version=#{version}
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.iflat.bi.bean.ProjectManHour">
        DELETE BiProjectManHour
        WHERE id=#{id}
    </delete>

    <select id="list" parameterType="com.iflat.bi.bean.ProjectManHour" resultMap="BiProjectManHourResult">
        SELECT id,projNo,dept,casualLabor,employee,month,fixed,version
        FROM BiProjectManHour
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="projNo!=null">AND projNo=#{projNo}</if>
            <if test="dept!=null">AND dept=#{dept}</if>
        </where>
    </select>

    <resultMap type="com.iflat.bi.bean.ProjectManHour" id="BiProjectManHourResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="projNo" column="projNo" jdbcType="VARCHAR"/>
        <result property="dept" column="dept" jdbcType="VARCHAR"/>
        <result property="casualLabor" column="casualLabor" jdbcType="DOUBLE"/>
        <result property="employee" column="employee" jdbcType="DOUBLE"/>
        <result property="month" column="month" jdbcType="DATE"/>
        <result property="fixed" column="fixed" jdbcType="DATE"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>
</mapper>