<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Bi.ProjectInProcess">

    <insert id="insert" parameterType="com.iflat.bi.bean.ProjectInProcess">
        INSERT INTO BiProjectInProcess
        VALUES (#{id},#{projNo},#{type},#{target},#{actual},#{month},#{fixed},#{version})
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO BiProjectInProcess
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT #{item.id},#{item.projNo},#{item.type},#{item.target},#{item.actual},#{item.month},#{item.fixed},#{item.version}
        </foreach>
    </insert>

    <update id="update" parameterType="com.iflat.bi.bean.ProjectInProcess">
        UPDATE BiProjectInProcess
        SET projNo=#{projNo},type=#{type},target=#{target},actual=#{actual},month=#{month},fixed=#{fixed},version=#{version}
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.iflat.bi.bean.ProjectInProcess">
        DELETE BiProjectInProcess
        WHERE id=#{id}
    </delete>

    <select id="list" parameterType="com.iflat.bi.bean.ProjectInProcess" resultMap="BiProjectInProcessResult">
        SELECT id,projNo,type,target,actual,month,fixed,version
        FROM BiProjectInProcess
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="projNo!=null">AND projNo=#{projNo}</if>
            <if test="month!=null">AND DATEDIFF(MONTH,#{month},month)=0</if>
        </where>
    </select>

    <resultMap type="com.iflat.bi.bean.ProjectInProcess" id="BiProjectInProcessResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="projNo" column="projNo" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="target" column="target" jdbcType="DOUBLE"/>
        <result property="actual" column="actual" jdbcType="DOUBLE"/>
        <result property="month" column="month" jdbcType="DATE"/>
        <result property="fixed" column="fixed" jdbcType="DATE"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>
</mapper>