<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Bi.ProjectCstCtrl">

    <insert id="insert" parameterType="com.iflat.bi.bean.ProjectCstCtrl">
        INSERT INTO BiProjectCstCtrl
        VALUES (#{id},#{projNo},#{dept},#{type},#{target},#{actual},#{comment},#{month},#{fixed},#{version})
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO BiProjectCstCtrl
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT #{item.id},#{item.projNo},#{item.dept},#{item.type},#{item.target},#{item.actual},#{item.comment},#{item.month},#{item.fixed},#{item.version}
        </foreach>
    </insert>

    <update id="update" parameterType="com.iflat.bi.bean.ProjectCstCtrl">
        UPDATE BiProjectCstCtrl
        SET projNo=#{projNo},dept=#{dept},type=#{type},target=#{target},actual=#{actual},comment=#{comment},month=#{month},fixed=#{fixed},version=#{version}
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.iflat.bi.bean.ProjectCstCtrl">
        DELETE BiProjectCstCtrl
        WHERE id=#{id}
    </delete>

    <select id="list" parameterType="com.iflat.bi.bean.ProjectCstCtrl" resultMap="BiProjectCstCtrlResult">
        SELECT id,projNo,dept,type,target,actual,comment,month,fixed,version
        FROM BiProjectCstCtrl
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="projNo!=null">AND projNo=#{projNo}</if>
            <if test="dept!=null">AND dept=#{dept}</if>
            <if test="type!=null">AND type=#{type}</if>
        </where>
    </select>

    <resultMap type="com.iflat.bi.bean.ProjectCstCtrl" id="BiProjectCstCtrlResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="projNo" column="projNo" jdbcType="VARCHAR"/>
        <result property="dept" column="dept" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="target" column="target" jdbcType="DOUBLE"/>
        <result property="actual" column="actual" jdbcType="DOUBLE"/>
        <result property="comment" column="comment" jdbcType="VARCHAR"/>
        <result property="month" column="month" jdbcType="DATE"/>
        <result property="fixed" column="fixed" jdbcType="DATE"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>
</mapper>