<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Bi.ProjectInProcessInfo">

    <select id="list" parameterType="com.iflat.bi.entity.ProjectInProcessInfo" resultMap="BiProjectInProcessInfoResult">
        SELECT id,projNo,type,target,actual,month,fixed,version,code,name,
        (shortName + (CASE WHEN code IS NULL THEN '' ELSE ' | ' + code END) + (CASE WHEN owner IS NULL THEN '' ELSE ' | ' + owner END)) AS shortName,
        plannedPlace,actualPlace,commencePln,commenceAct,shipwayPln,shipwayAct,launchPln,launchAct,seaTrialPln,seaTrialAct,deliveryPln,deliveryAct,owner
        FROM V_BiProjectInProcessInfo
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="projNo!=null">AND projNo=#{projNo}</if>
            <if test="type!=null and &quot;分段阶段&quot;.equals(type)">AND (type='用钢量' OR type='工装费')</if>
            <if test="type!=null and &quot;船台阶段&quot;.equals(type)">AND (type='焊材用量' OR type='钢管用量' OR type='外协分段吨位' OR type='油漆用量' OR type='船台费')</if>
            <if test="type!=null and &quot;水下阶段&quot;.equals(type)">AND (type='电缆用量' OR type='码头费' OR type='浮吊费' OR type='拖轮费')</if>
            <if test="month!=null">AND DATEDIFF(MONTH,#{month},month)=0</if>
        </where>
    </select>

    <resultMap type="com.iflat.bi.entity.ProjectInProcessInfo" id="BiProjectInProcessInfoResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="projNo" column="projNo" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="target" column="target" jdbcType="DOUBLE"/>
        <result property="actual" column="actual" jdbcType="DOUBLE"/>
        <result property="month" column="month" jdbcType="DATE"/>
        <result property="fixed" column="fixed" jdbcType="DATE"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="shortName" column="shortName" jdbcType="VARCHAR"/>
        <result property="plannedPlace" column="plannedPlace" jdbcType="VARCHAR"/>
        <result property="actualPlace" column="actualPlace" jdbcType="VARCHAR"/>
        <result property="commencePln" column="commencePln" jdbcType="DATE"/>
        <result property="commenceAct" column="commenceAct" jdbcType="DATE"/>
        <result property="shipwayPln" column="shipwayPln" jdbcType="DATE"/>
        <result property="shipwayAct" column="shipwayAct" jdbcType="DATE"/>
        <result property="launchPln" column="launchPln" jdbcType="DATE"/>
        <result property="launchAct" column="launchAct" jdbcType="DATE"/>
        <result property="seaTrialPln" column="seaTrialPln" jdbcType="DATE"/>
        <result property="seaTrialAct" column="seaTrialAct" jdbcType="DATE"/>
        <result property="deliveryPln" column="deliveryPln" jdbcType="DATE"/>
        <result property="deliveryAct" column="deliveryAct" jdbcType="DATE"/>
        <result property="owner" column="owner" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>