<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Report.Mm.PaintMRP">

    <select id="list" parameterType="com.iflat.report.bean.mm.PaintMRP" resultMap="RptMmPaintMRPResult">
        SELECT gcbh,wzbh,wzmc,wzms,dw,xqsl,sqsl,jzsl,zcsl,maxsq
        FROM V_Mat_PaintMRP
        ORDER BY wzbh,wzmc,wzms
    </select>

    <resultMap type="com.iflat.report.bean.mm.PaintMRP" id="RptMmPaintMRPResult">
        <result property="projNo" column="gcbh" jdbcType="VARCHAR"/>
        <result property="code" column="wzbh" jdbcType="VARCHAR"/>
        <result property="name" column="wzmc" jdbcType="VARCHAR"/>
        <result property="description" column="wzms" jdbcType="DOUBLE"/>
        <result property="unit" column="dw" jdbcType="DOUBLE"/>
        <result property="demand" column="xqsl" jdbcType="DOUBLE"/>
        <result property="hasRequest" column="sqsl" jdbcType="DOUBLE"/>
        <result property="carryOver" column="jzsl" jdbcType="DOUBLE"/>
        <result property="delivery" column="zcsl" jdbcType="DOUBLE"/>
        <result property="rest" column="maxsq" jdbcType="DOUBLE"/>
    </resultMap>
</mapper>