<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="smAction" class="com.iflat.sm.action.SmAction" scope="prototype">
        <property name="result" ref="result"/>
        <property name="qualityFineManager" ref="qualityFineManager"/>
        <property name="qualityFine" ref="qualityFine"/>
        <property name="safetyFineManager" ref="safetyFineManager"/>
        <property name="safetyFine" ref="safetyFine"/>
        <property name="qualityFineVoManager" ref="qualityFineVoManager"/>
        <property name="qualityFineVo" ref="qualityFineVo"/>
        <property name="safetyFineVoManager" ref="safetyFineVoManager"/>
        <property name="safetyFineVo" ref="safetyFineVo"/>
    </bean>

    <bean id="safetyFineManager" class="com.iflat.sm.service.impl.SafetyFineManagerImpl">
    </bean>
    <bean id="safetyFineDao" class="com.iflat.sm.dao.impl.SafetyFineDaoImpl">
    </bean>

    <bean id="qualityFineManager" class="com.iflat.sm.service.impl.QualityFineManagerImpl">
    </bean>
    <bean id="qualityFineDao" class="com.iflat.sm.dao.impl.QualityFineDaoImpl">
    </bean>

    <bean id="safetyFineVoManager" class="com.iflat.sm.service.impl.SafetyFineVoManagerImpl">
    </bean>
    <bean id="safetyFineVoDao" class="com.iflat.sm.dao.impl.SafetyFineVoDaoImpl">
    </bean>

    <bean id="qualityFineVoManager" class="com.iflat.sm.service.impl.QualityFineVoManagerImpl">
    </bean>
    <bean id="qualityFineVoDao" class="com.iflat.sm.dao.impl.QualityFineVoDaoImpl">
    </bean>

    <bean id="qualityFine" class="com.iflat.sm.bean.QualityFine" scope="prototype"/>
    <bean id="safetyFine" class="com.iflat.sm.bean.SafetyFine" scope="prototype"/>
    <bean id="qualityFineVo" class="com.iflat.sm.entity.QualityFineVo" scope="prototype"/>
    <bean id="safetyFineVo" class="com.iflat.sm.entity.SafetyFineVo" scope="prototype"/>
</beans>