<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Report.util.Graph">

    <insert id="insert" parameterType="com.iflat.report.bean.util.Graph">
        INSERT INTO RptGraph
        VALUES (#{id},#{paintId}#{type},#{coordinate},#{lineWidth},#{relationId},#{fillText},#{font},#{strokeStyle},#{fontStyle},#{fillStyle})
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO RptGraph
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT #{item.id},#{item.paintId},#{item.type},#{item.coordinate},#{item.lineWidth},#{item.relationId},#{item.fillText},#{item.font},#{item.strokeStyle},#{item.fontStyle},#{item.fillStyle}
        </foreach>
    </insert>

    <update id="update" parameterType="com.iflat.report.bean.util.Graph">
        UPDATE RptGraph
        SET paintId=#{paintId},type=#{type},coordinate=#{coordinate},lineWidth=#{lineWidth},relationId=#{relationId},fillText=#{fillText},font=#{font},strokeStyle=#{strokeStyle},fontStyle=#{fontStyle},fillStyle=#{fillStyle}
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.iflat.report.bean.util.Graph">
        DELETE RptGraph
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="paintId!=null">AND paintId=#{paintId}</if>
        </where>
    </delete>

    <select id="list" parameterType="com.iflat.report.bean.util.Graph" resultMap="RptGraphResult">
        SELECT id,paintId,type,coordinate,lineWidth,relationId,fillText,font,strokeStyle,fontStyle,fillStyle
        FROM RptGraph
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="paintId!=null">AND paintId=#{paintId}</if>
        </where>
    </select>

    <resultMap type="com.iflat.report.bean.util.Graph" id="RptGraphResult">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="paintId" column="paintId" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="coordinate" column="coordinate" jdbcType="VARCHAR"/>
        <result property="lineWidth" column="lineWidth" jdbcType="VARCHAR"/>
        <result property="relationId" column="relationId" jdbcType="VARCHAR"/>
        <result property="fillText" column="fillText" jdbcType="VARCHAR"/>
        <result property="font" column="font" jdbcType="VARCHAR"/>
        <result property="strokeStyle" column="strokeStyle" jdbcType="VARCHAR"/>
        <result property="fontStyle" column="fontStyle" jdbcType="VARCHAR"/>
        <result property="fillStyle" column="fillStyle" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>