<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Report.util.Paint">

    <insert id="insert" parameterType="com.iflat.report.bean.util.Paint">
        INSERT INTO RptPaint
        VALUES (#{paintId},#{name},#{category},#{description},#{status})
    </insert>

    <update id="update" parameterType="com.iflat.report.bean.util.Paint">
        UPDATE RptPaint
        SET paintId=#{paintId},name=#{name},category=#{category},description=#{description},status=#{status}
        WHERE paintId=#{paintId}
    </update>

    <delete id="delete" parameterType="com.iflat.report.bean.util.Paint">
        DELETE RptPaint
        WHERE mapId=#{mapId}
    </delete>

    <select id="list" parameterType="com.iflat.report.bean.util.Paint" resultMap="RptPaintResult">
        SELECT paintId,name,category,description,status
        FROM RptPaint
        <where>
            <if test="paintId!=null">paintId=#{paintId}</if>
            <if test="category!=null">AND category=#{category}</if>
        </where>
    </select>

    <select id="listAct" parameterType="com.iflat.report.bean.util.Paint" resultMap="RptPaintResult">
        SELECT paintId,name,category,description,status
        FROM RptPaint
        <where>
            <if test="paintId!=null">paintId=#{paintId}</if>
            <if test="category!=null">AND category=#{category}</if>
            <if test="status!=null">AND status=#{status}</if>
        </where>
    </select>

    <resultMap type="com.iflat.report.bean.util.Paint" id="RptPaintResult">
        <result property="paintId" column="paintId" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="category" column="category" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="BIT"/>
    </resultMap>
</mapper>