<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="System.Role">

    <insert id="insert" parameterType="com.iflat.system.bean.Role">
        INSERT INTO SysRole
        VALUES (#{roleId},#{roleName},#{category},#{description},#{status},#{createTime})
    </insert>

    <update id="update" parameterType="com.iflat.system.bean.Role">
        UPDATE SysRole
        <set>
            <if test="roleName!=null">roleName=#{roleName},</if>
            <if test="category!=null">category=#{category},</if>
            <if test="description!=null">description=#{description},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="createTime!=null">createTime=#{createTime},</if>
        </set>
        WHERE roleId=#{roleId}
    </update>

    <delete id="delete" parameterType="String">
        DELETE SysRole
        WHERE roleId=#{roleId}
    </delete>

    <select id="get" parameterType="String" resultMap="SysRoleResult">
        select roleId,roleName,category,description,status,createTime
        from SysRole
        where roleId = #{roleId}
    </select>

    <select id="list" resultMap="SysRoleResult">
        select roleId,roleName,category,description,status,createTime
        from SysRole
        ORDER BY category,roleName
    </select>

    <!-- 映射 -->
    <resultMap type="com.iflat.system.bean.Role" id="SysRoleResult">
        <result property="roleId" column="roleId" jdbcType="VARCHAR"/>
        <result property="roleName" column="roleName" jdbcType="NVARCHAR"/>
        <result property="category" column="category" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="BIT"/>
        <result property="createTime" column="createTime" jdbcType="DATE"/>
    </resultMap>
</mapper>