<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Sm.QualityFineVo">

    <select id="list" parameterType="com.iflat.sm.entity.QualityFineVo" resultMap="SmQualityFineVoResult">
        SELECT id,projNo,projName,dept,team,[group],personAcc,personName,date,profession,description,category,amount,comment,qc,attachment,creator,createTime
        FROM V_SmQualityFine
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="projNo!=null and !&quot;&quot;.equals(projNo.trim())">AND projNo=#{projNo}</if>
            <if test="projName!=null and !&quot;&quot;.equals(projName.trim())">AND projName LIKE '%' + #{projName} + '%'</if>
            <if test="dept!=null and !&quot;&quot;.equals(dept.trim())">AND dept=#{dept}</if>
            <if test="team!=null and !&quot;&quot;.equals(team.trim())">AND team LIKE '%' + #{team} + '%'</if>
            <if test="group!=null and !&quot;&quot;.equals(group.trim())">AND [group]=#{group}</if>
            <if test="personAcc!=null and !&quot;&quot;.equals(personAcc.trim())">AND personAcc=#{personAcc}</if>
            <if test="personName!=null and !&quot;&quot;.equals(personName.trim())">AND personName LIKE '%' + #{personName} + '%'</if>
            <if test="date!=null">AND date=#{date}</if>
            <if test="profession!=null and !&quot;&quot;.equals(profession.trim())">AND profession=#{profession}</if>
            <if test="category!=null and !&quot;&quot;.equals(category.trim())">AND category=#{category}</if>
            <if test="description!=null and !&quot;&quot;.equals(description.trim())">AND description LIKE '%' + #{description} + '%'</if>
            <if test="qc!=null and !&quot;&quot;.equals(qc.trim())">AND qc=#{qc}</if>
            <if test="creator!=null and !&quot;&quot;.equals(creator.trim())">AND creator=#{creator}</if>
        </where>
        ORDER BY projNo,profession,dept,team,[group],personName,date,qc,createTime
    </select>

    <resultMap type="com.iflat.sm.entity.QualityFineVo" id="SmQualityFineVoResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="projNo" column="projNo" jdbcType="VARCHAR"/>
        <result property="projName" column="projName" jdbcType="VARCHAR"/>
        <result property="dept" column="dept" jdbcType="VARCHAR"/>
        <result property="team" column="team" jdbcType="VARCHAR"/>
        <result property="group" column="group" jdbcType="VARCHAR"/>
        <result property="personAcc" column="personAcc" jdbcType="VARCHAR"/>
        <result property="personName" column="personName" jdbcType="VARCHAR"/>
        <result property="date" column="date" jdbcType="DATE"/>
        <result property="profession" column="profession" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="category" column="category" jdbcType="VARCHAR"/>
        <result property="amount" column="amount" jdbcType="DOUBLE"/>
        <result property="comment" column="comment" jdbcType="VARCHAR"/>
        <result property="qc" column="qc" jdbcType="VARCHAR"/>
        <result property="attachment" column="attachment" jdbcType="VARCHAR"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="DATE"/>
    </resultMap>
</mapper>