<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Sm.SafetyFine">

    <insert id="insert" parameterType="com.iflat.sm.bean.SafetyFine">
        INSERT INTO SmSafetyFine
        VALUES (#{id},#{projNo},#{position},#{place},#{type},#{date},#{dept},#{team},#{group},#{personAcc},#{personName},#{description},#{measure},#{deadline},#{amount},#{feedback},#{manager},#{mgrDept},#{dangerType},#{damageType},#{riskLevel},#{groupLeader},#{inspectType},#{comment},#{issuer},#{attachment},#{creator},#{createTime})
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO SmSafetyFine
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT #{item.id},#{item.projNo},#{item.position},#{item.place},#{item.type},#{item.date},#{item.dept},#{item.team},#{item.group},#{item.personAcc},#{item.personName},#{item.description},#{item.measure},#{item.deadline},#{item.amount},#{item.feedback},#{item.manager},#{item.mgrDept},#{item.dangerType},#{item.damageType},#{item.riskLevel},#{item.groupLeader},#{item.inspectType},#{item.comment},#{item.issuer},#{item.attachment},#{item.creator},#{item.createTime}
        </foreach>
    </insert>

    <update id="update" parameterType="com.iflat.sm.bean.SafetyFine">
        UPDATE SmSafetyFine
        <set>
            <if test="projNo!=null">projNo=#{projNo},</if>
            <if test="position!=null">position=#{position},</if>
            <if test="place!=null">place=#{place},</if>
            <if test="type!=null">type=#{type},</if>
            <if test="date!=null">date=#{date},</if>
            <if test="dept!=null">dept=#{dept},</if>
            <if test="team!=null">team=#{team},</if>
            <if test="group!=null">[group]=#{group},</if>
            <if test="personAcc!=null">personAcc=#{personAcc},</if>
            <if test="personName!=null">personName=#{personName},</if>
            <if test="description!=null">description=#{description},</if>
            <if test="measure!=null">measure=#{measure},</if>
            <if test="deadline!=null">deadline=#{deadline},</if>
            <if test="amount!=null">amount=#{amount},</if>
            <if test="feedback!=null">feedback=#{feedback},</if>
            <if test="manager!=null">manager=#{manager},</if>
            <if test="mgrDept!=null">mgrDept=#{mgrDept},</if>
            <if test="dangerType!=null">dangerType=#{dangerType},</if>
            <if test="damageType!=null">damageType=#{damageType},</if>
            <if test="riskLevel!=null">riskLevel=#{riskLevel},</if>
            <if test="groupLeader!=null">groupLeader=#{groupLeader},</if>
            <if test="inspectType!=null">inspectType=#{inspectType},</if>
            <if test="comment!=null">comment=#{comment},</if>
            <if test="issuer!=null">issuer=#{issuer},</if>
            <if test="attachment!=null">attachment=#{attachment},</if>
            <if test="creator!=null">creator=#{creator},</if>
            <if test="createTime!=null">createTime=#{createTime},</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.iflat.sm.bean.SafetyFine">
        DELETE SmSafetyFine
        WHERE id=#{id}
    </delete>

    <select id="list" parameterType="com.iflat.sm.bean.SafetyFine" resultMap="SmSafetyFineResult">
        SELECT id,projNo,position,place,type,date,dept,team,[group],personAcc,personName,description,measure,deadline,amount,feedback,manager,mgrDept,dangerType,damageType,riskLevel,groupLeader,inspectType,comment,issuer,attachment,creator,createTime
        FROM SmSafetyFine
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="projNo!=null">AND projNo=#{projNo}</if>
            <if test="position!=null">AND position=#{position}</if>
            <if test="place!=null">AND place=#{place}</if>
            <if test="type!=null">AND type=#{type}</if>
            <if test="date!=null">AND date=#{date}</if>
            <if test="dept!=null">AND dept=#{dept}</if>
            <if test="team!=null">AND team=#{team}</if>
            <if test="group!=null">AND [group]=#{group}</if>
            <if test="personAcc!=null">AND personAcc=#{personAcc}</if>
            <if test="personName!=null">AND personName=#{personName}</if>
            <if test="description!=null">AND description=#{description}</if>
            <if test="measure!=null">AND measure=#{measure}</if>
            <if test="deadline!=null">AND deadline=#{deadline}</if>
            <if test="feedback!=null">AND feedback=#{feedback}</if>
            <if test="manager!=null">AND manager=#{manager}</if>
            <if test="mgrDept!=null">AND mgrDept=#{mgrDept}</if>
            <if test="dangerType!=null">AND dangerType=#{dangerType}</if>
            <if test="damageType!=null">AND damageType=#{damageType}</if>
            <if test="riskLevel!=null">AND riskLevel=#{riskLevel}</if>
            <if test="groupLeader!=null">AND groupLeader=#{groupLeader}</if>
            <if test="inspectType!=null">AND inspectType=#{inspectType}</if>
            <if test="comment!=null">AND comment=#{comment}</if>
            <if test="issuer!=null">AND issuer=#{issuer}</if>
            <if test="creator!=null">AND creator=#{creator}</if>
        </where>
    </select>

    <resultMap type="com.iflat.sm.bean.SafetyFine" id="SmSafetyFineResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="projNo" column="projNo" jdbcType="VARCHAR"/>
        <result property="position" column="position" jdbcType="VARCHAR"/>
        <result property="place" column="place" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="date" column="date" jdbcType="DATE"/>
        <result property="dept" column="dept" jdbcType="VARCHAR"/>
        <result property="team" column="team" jdbcType="VARCHAR"/>
        <result property="group" column="group" jdbcType="VARCHAR"/>
        <result property="personAcc" column="personAcc" jdbcType="VARCHAR"/>
        <result property="personName" column="personName" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="measure" column="measure" jdbcType="VARCHAR"/>
        <result property="deadline" column="deadline" jdbcType="VARCHAR"/>
        <result property="amount" column="amount" jdbcType="DOUBLE"/>
        <result property="feedback" column="feedback" jdbcType="VARCHAR"/>
        <result property="manager" column="manager" jdbcType="VARCHAR"/>
        <result property="mgrDept" column="mgrDept" jdbcType="VARCHAR"/>
        <result property="dangerType" column="dangerType" jdbcType="VARCHAR"/>
        <result property="damageType" column="damageType" jdbcType="VARCHAR"/>
        <result property="riskLevel" column="riskLevel" jdbcType="VARCHAR"/>
        <result property="groupLeader" column="groupLeader" jdbcType="VARCHAR"/>
        <result property="inspectType" column="inspectType" jdbcType="VARCHAR"/>
        <result property="comment" column="comment" jdbcType="VARCHAR"/>
        <result property="issuer" column="issuer" jdbcType="VARCHAR"/>
        <result property="attachment" column="attachment" jdbcType="VARCHAR"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="DATE"/>
    </resultMap>
</mapper>