<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- system -->
    <bean id="systemAction" class="com.iflat.system.action.SystemAction" scope="prototype">
        <!-- 修改密码 -->
        <property name="passwordChange" ref="passwordChange"></property>
        <!-- 模块 -->
        <property name="module" ref="module"></property>
        <property name="moduleService" ref="moduleService"></property>
        <!-- 组织 -->
        <property name="organization" ref="organization"></property>
        <property name="organizationService" ref="organizationService"></property>
        <!-- 人员-->
        <property name="user" ref="user"></property>
        <property name="userService" ref="userService"></property>
        <property name="orgId" value=""></property>
        <!-- 角色-->
        <property name="role" ref="role"></property>
        <property name="roleService" ref="roleService"></property>
        <!-- 用户角色 -->
        <property name="userRole" ref="userRole"></property>
        <property name="userRoleService" ref="userRoleService"></property>
        <property name="itemselector" value=""></property>
        <!-- 模块权限 -->
        <property name="authModule" ref="authModule"></property>
        <property name="authModuleService" ref="authModuleService"></property>
        <property name="authModuleVoList" value=""></property>
        <!-- 操作权限 -->
        <property name="authOperatingService" ref="authOperatingService"></property>
        <property name="authOperatingVo" ref="authOperatingVo"></property>
        <property name="authOperatingVoList" value=""></property>
        <property name="authDuplicateVo" ref="authDuplicateVo"></property>
        <property name="authBatchList" value=""></property>
        <!-- 数据权限 -->
        <property name="authData" ref="authData"></property>
        <property name="authDataService" ref="authDataService"></property>
        <!-- 数据字典 -->
        <property name="dataDictionaryService" ref="dataDictionaryService"></property>
        <property name="dataDictionary" ref="dataDictionary"></property>
        <!-- 模块表/视图 -->
        <property name="tableViewService" ref="tableViewService"></property>
        <property name="tableView" ref="tableView"></property>
        <!-- 操作 -->
        <property name="operatingService" ref="operatingService"></property>
        <property name="operating" ref="operating"></property>
        <!-- 速记本 -->
        <property name="memoService" ref="memoService"></property>
        <property name="memo" ref="memo"></property>
        <!-- 问题处理 -->
        <property name="questionService" ref="questionService"></property>
        <property name="question" ref="question"></property>
    </bean>

    <bean id="authModuleVo" class="com.iflat.system.entity.AuthModuleVo"></bean>

    <!-- 登录 -->
    <bean id="loginAction" class="com.iflat.system.action.LoginAction" scope="prototype">
        <property name="user" ref="user"></property>
        <property name="userService" ref="userService"></property>
        <property name="account" value=""></property>
        <property name="password" value=""></property>
    </bean>

    <!-- Question -->
    <bean id="questionService" class="com.iflat.system.service.impl.QuestionServiceImpl">
        <property name="questionDao" ref="questionDao"></property>
    </bean>
    <bean id="questionDao" class="com.iflat.system.dao.impl.QuestionDaoImpl">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
    </bean>

    <!-- Memo -->
    <bean id="memoService" class="com.iflat.system.service.impl.MemoServiceImpl">
        <property name="memoDao" ref="memoDao"></property>
    </bean>
    <bean id="memoDao" class="com.iflat.system.dao.impl.MemoDaoImpl">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
    </bean>

    <!-- TableView -->
    <bean id="tableViewService" class="com.iflat.system.service.impl.TableViewServiceImpl">
        <property name="tableViewDao" ref="tableViewDao"></property>
    </bean>
    <bean id="tableViewDao" class="com.iflat.system.dao.impl.TableViewDaoImpl">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
    </bean>

    <!-- Operating -->
    <bean id="operatingService" class="com.iflat.system.service.impl.OperatingServiceImpl">
        <property name="operatingDao" ref="operatingDao"></property>
    </bean>
    <bean id="operatingDao" class="com.iflat.system.dao.impl.OperatingDaoImpl">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
    </bean>

    <!-- User -->
    <bean id="userService" class="com.iflat.system.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
        <property name="userRoleDao" ref="userRoleDao"></property>
    </bean>
    <bean id="userDao" class="com.iflat.system.dao.impl.UserDaoImpl">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
    </bean>

    <!-- Role -->
    <bean id="roleService" class="com.iflat.system.service.impl.RoleServiceImpl">
        <property name="roleDao" ref="roleDao"></property>
        <property name="userRoleDao" ref="userRoleDao"></property>
    </bean>
    <bean id="roleDao" class="com.iflat.system.dao.impl.RoleDaoImpl">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
    </bean>

    <!-- UserRole -->
    <bean id="userRoleService" class="com.iflat.system.service.impl.UserRoleServiceImpl">
        <property name="userRoleDao" ref="userRoleDao"></property>
    </bean>
    <bean id="userRoleDao" class="com.iflat.system.dao.impl.UserRoleDaoImpl">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
    </bean>

    <!-- Organization -->
    <bean id="organizationService" class="com.iflat.system.service.impl.OrganizationServiceImpl">
        <property name="orgDao" ref="organizationDao"></property>
        <property name="userDao" ref="userDao"></property>
    </bean>
    <bean id="organizationDao" class="com.iflat.system.dao.impl.OrganizationDaoImpl">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
    </bean>

    <!-- Module -->
    <bean id="moduleService" class="com.iflat.system.service.impl.ModuleServiceImpl">
        <property name="moduleDao" ref="moduleDao"></property>
    </bean>
    <bean id="moduleDao" class="com.iflat.system.dao.impl.ModuleDaoImpl">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
    </bean>

    <!-- DataDictionary -->
    <bean id="dataDictionaryService" class="com.iflat.system.service.impl.DataDictionaryServiceImpl">
        <property name="dataDictionaryDao" ref="dataDictionaryDao"></property>
        <property name="path" value="../../../../../../config/database.properties"></property>
    </bean>
    <bean id="dataDictionaryDao" class="com.iflat.system.dao.impl.DataDictionaryDaoImpl">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
    </bean>

    <!-- Authority -->
    <bean id="authModuleService" class="com.iflat.system.service.impl.AuthModuleServiceImpl">
        <property name="authModuleDao" ref="authModuleDao"></property>
        <property name="authDataDao" ref="authDataDao"></property>
        <property name="authOperatingDao" ref="authOperatingDao"></property>
    </bean>
    <bean id="authModuleDao" class="com.iflat.system.dao.impl.AuthModuleDaoImpl">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
    </bean>
    <bean id="authDataService" class="com.iflat.system.service.impl.AuthDataServiceImpl">
        <property name="authDataDao" ref="authDataDao"></property>
        <property name="dataDictionaryDao" ref="dataDictionaryDao"></property>
    </bean>
    <bean id="authDataDao" class="com.iflat.system.dao.impl.AuthDataDaoImpl">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
    </bean>
    <bean id="authOperatingService" class="com.iflat.system.service.impl.AuthOperatingServiceImpl">
        <property name="authOperatingDao" ref="authOperatingDao"></property>
    </bean>
    <bean id="authOperatingDao" class="com.iflat.system.dao.impl.AuthOperatingDaoImpl">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
    </bean>

    <!-- bean、entity-->
    <bean id="module" class="com.iflat.system.bean.Module" scope="prototype"></bean>
    <bean id="organization" class="com.iflat.system.bean.Organization" scope="prototype"></bean>
    <bean id="user" class="com.iflat.system.bean.User" scope="prototype"></bean>
    <bean id="role" class="com.iflat.system.bean.Role" scope="prototype"></bean>
    <bean id="userRole" class="com.iflat.system.bean.UserRole" scope="prototype"></bean>
    <bean id="authData" class="com.iflat.system.bean.AuthData" scope="prototype"></bean>
    <bean id="authModule" class="com.iflat.system.bean.AuthModule" scope="prototype"></bean>
    <bean id="authOperating" class="com.iflat.system.bean.AuthOperating" scope="prototype"></bean>
    <bean id="dataDictionary" class="com.iflat.system.bean.DataDictionary" scope="prototype"></bean>
    <bean id="authOperatingVo" class="com.iflat.system.entity.AuthOperatingVo" scope="prototype"></bean>
    <bean id="authDuplicateVo" class="com.iflat.system.entity.AuthDuplicateVo" scope="prototype"></bean>
    <bean id="authDataVo" class="com.iflat.system.entity.AuthDataVo" scope="prototype"></bean>
    <bean id="tableView" class="com.iflat.system.bean.TableView" scope="prototype"></bean>
    <bean id="passwordChange" class="com.iflat.system.entity.PasswordChange" scope="prototype"></bean>
    <bean id="memo" class="com.iflat.system.bean.Memo" scope="prototype"></bean>
    <bean id="question" class="com.iflat.system.bean.Question" scope="prototype"></bean>
    <bean id="operating" class="com.iflat.system.bean.Operating" scope="prototype"></bean>

</beans>