<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="biAction" class="com.iflat.bi.action.BiAction" scope="prototype">
        <property name="additionalBillService" ref="additionalBillService"/>
        <property name="additionalBill" ref="additionalBill"/>
        <property name="contractService" ref="contractService"/>
        <property name="contract" ref="contract"/>
        <property name="deptCstCtrlService" ref="deptCstCtrlService"/>
        <property name="deptCstCtrl" ref="deptCstCtrl"/>
        <property name="majorDevCstService" ref="majorDevCstService"/>
        <property name="majorDevCst" ref="majorDevCst"/>
        <property name="majorMatCstService" ref="majorMatCstService"/>
        <property name="majorMatCst" ref="majorMatCst"/>
        <property name="majorMatQtyService" ref="majorMatQtyService"/>
        <property name="majorMatQty" ref="majorMatQty"/>
        <property name="projectService" ref="projectService"/>
        <property name="project" ref="project"/>
        <property name="projectCostService" ref="projectCostService"/>
        <property name="projectCost" ref="projectCost"/>
        <property name="projectCstCtrlService" ref="projectScheduleService"/>
        <property name="projectCstCtrl" ref="projectCstCtrl"/>
        <property name="projectInProcessService" ref="projectInProcessService"/>
        <property name="projectInProcess" ref="projectInProcess"/>
        <property name="projectManHourService" ref="projectManHourService"/>
        <property name="projectManHour" ref="projectManHour"/>
        <property name="projectScheduleService" ref="projectScheduleService"/>
        <property name="projectSchedule" ref="projectSchedule"/>
        <property name="projectInfoService" ref="projectInfoService"/>
        <property name="projectInfo" ref="projectInfo"/>
        <property name="projectInProcessInfoService" ref="projectInProcessInfoService"/>
        <property name="projectInProcessInfo" ref="projectInProcessInfo"/>
    </bean>

    <bean id="projectInProcessInfoService" class="com.iflat.bi.service.impl.ProjectInProcessInfoServiceImpl">
    </bean>
    <bean id="projectInProcessInfoDao" class="com.iflat.bi.dao.impl.ProjectInProcessInfoDaoImpl">
    </bean>

    <bean id="projectInfoService" class="com.iflat.bi.service.impl.ProjectInfoServiceImpl">
    </bean>
    <bean id="projectInfoDao" class="com.iflat.bi.dao.impl.ProjectInfoDaoImpl">
    </bean>

    <bean id="additionalBillService" class="com.iflat.bi.service.impl.AdditionalBillServiceImpl">
    </bean>
    <bean id="additionalBillDao" class="com.iflat.bi.dao.impl.AdditionalBillDaoImpl">
    </bean>

    <bean id="contractService" class="com.iflat.bi.service.impl.ContractServiceImpl">
    </bean>
    <bean id="contractDao" class="com.iflat.bi.dao.impl.ContractDaoImpl">
    </bean>

    <bean id="deptCstCtrlService" class="com.iflat.bi.service.impl.DeptCstCtrlServiceImpl">
    </bean>
    <bean id="deptCstCtrlDao" class="com.iflat.bi.dao.impl.DeptCstCtrlDaoImpl">
    </bean>

    <bean id="majorDevCstService" class="com.iflat.bi.service.impl.MajorDevCstServiceImpl">
    </bean>
    <bean id="majorDevCstDao" class="com.iflat.bi.dao.impl.MajorDevCstDaoImpl">
    </bean>

    <bean id="majorMatCstService" class="com.iflat.bi.service.impl.MajorMatCstServiceImpl">
    </bean>
    <bean id="majorMatCstDao" class="com.iflat.bi.dao.impl.MajorMatCstDaoImpl">
    </bean>

    <bean id="majorMatQtyService" class="com.iflat.bi.service.impl.MajorMatQtyServiceImpl">
    </bean>
    <bean id="majorMatQtyDao" class="com.iflat.bi.dao.impl.MajorMatQtyDaoImpl">
    </bean>

    <bean id="projectService" class="com.iflat.bi.service.impl.ProjectServiceImpl">
    </bean>
    <bean id="projectDao" class="com.iflat.bi.dao.impl.ProjectDaoImpl">
    </bean>

    <bean id="projectCostService" class="com.iflat.bi.service.impl.ProjectCostServiceImpl">
    </bean>
    <bean id="projectCostDao" class="com.iflat.bi.dao.impl.ProjectCostDaoImpl">
    </bean>

    <bean id="projectCstCtrlService" class="com.iflat.bi.service.impl.ProjectCstCtrlServiceImpl">
    </bean>
    <bean id="projectCstCtrlDao" class="com.iflat.bi.dao.impl.ProjectCstCtrlDaoImpl">
    </bean>

    <bean id="projectInProcessService" class="com.iflat.bi.service.impl.ProjectInProcessServiceImpl">
    </bean>
    <bean id="projectInProcessDao" class="com.iflat.bi.dao.impl.ProjectInProcessDaoImpl">
    </bean>

    <bean id="projectManHourService" class="com.iflat.bi.service.impl.ProjectManHourServiceImpl">
    </bean>
    <bean id="projectManHourDao" class="com.iflat.bi.dao.impl.ProjectManHourDaoImpl">
    </bean>

    <bean id="projectScheduleService" class="com.iflat.bi.service.impl.ProjectScheduleServiceImpl">
    </bean>
    <bean id="projectScheduleDao" class="com.iflat.bi.dao.impl.ProjectScheduleDaoImpl">
    </bean>

    <bean id="additionalBill" class="com.iflat.bi.bean.AdditionalBill" scope="prototype"/>
    <bean id="contract" class="com.iflat.bi.bean.Contract" scope="prototype"/>
    <bean id="deptCstCtrl" class="com.iflat.bi.bean.DeptCstCtrl" scope="prototype"/>
    <bean id="majorDevCst" class="com.iflat.bi.bean.MajorDevCst" scope="prototype"/>
    <bean id="majorMatCst" class="com.iflat.bi.bean.MajorMatCst" scope="prototype"/>
    <bean id="majorMatQty" class="com.iflat.bi.bean.MajorMatQty" scope="prototype"/>
    <bean id="project" class="com.iflat.bi.bean.Project" scope="prototype"/>
    <bean id="projectCost" class="com.iflat.bi.bean.ProjectCost" scope="prototype"/>
    <bean id="projectCstCtrl" class="com.iflat.bi.bean.ProjectCstCtrl" scope="prototype"/>
    <bean id="projectInProcess" class="com.iflat.bi.bean.ProjectInProcess" scope="prototype"/>
    <bean id="projectManHour" class="com.iflat.bi.bean.ProjectManHour" scope="prototype"/>
    <bean id="projectSchedule" class="com.iflat.bi.bean.ProjectSchedule" scope="prototype"/>
    <bean id="projectInfo" class="com.iflat.bi.entity.ProjectInfo" scope="prototype"/>
    <bean id="projectInProcessInfo" class="com.iflat.bi.entity.ProjectInProcessInfo" scope="prototype"/>
</beans>