<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ssAction" class="com.iflat.ss.action.SsAction" scope="prototype">
        <property name="result" ref="result"/>
        <property name="safetyFineService" ref="safetyFineService"/>
        <property name="safetyFine" ref="safetyFine"/>
        <property name="safetyFineVoService" ref="safetyFineVoService"/>
        <property name="safetyFineVo" ref="safetyFineVo"/>
    </bean>

    <bean id="safetyFineService" class="com.iflat.ss.service.impl.SafetyFineServiceImpl">
    </bean>
    <bean id="safetyFineDao" class="com.iflat.ss.dao.impl.SafetyFineDaoImpl">
    </bean>

    <bean id="safetyFineVoService" class="com.iflat.ss.service.impl.SafetyFineVoServiceImpl">
    </bean>
    <bean id="safetyFineVoDao" class="com.iflat.ss.dao.impl.SafetyFineVoDaoImpl">
    </bean>
    <bean id="safetyFine" class="com.iflat.ss.bean.SafetyFine" scope="prototype"/>
    <bean id="safetyFineVo" class="com.iflat.ss.entity.SafetyFineVo" scope="prototype"/>
</beans>