<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="System.Organization">

    <insert id="insert" parameterType="com.iflat.system.bean.Organization">
        INSERT INTO SysOrganization
        VALUES (#{orgId},#{orgCode},#{parentOrgId},#{orgName},#{alias},#{status},#{createTime})
    </insert>

    <update id="update" parameterType="com.iflat.system.bean.Organization">
        UPDATE SysOrganization
        <set>
            <if test="orgCode!=null">orgCode=#{orgCode},</if>
            <if test="parentOrgId!=null and !&quot;&quot;.equals(parentOrgId.trim())">parentOrgId=#{parentOrgId},</if>
            <if test="orgName!=null">orgName=#{orgName},</if>
            <if test="alias!=null">alias=#{alias},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="createTime!=null">createTime=#{createTime},</if>
        </set>
        WHERE orgId=#{orgId}
    </update>

    <delete id="delete" parameterType="String">
        DELETE SysOrganization
        WHERE orgId=#{orgId}
    </delete>

    <select id="list" resultMap="SysOrganizationResult">
        SELECT orgId,orgCode,parentOrgId,orgName,alias,status,createTime
        FROM SysOrganization
        ORDER BY orgCode
    </select>

    <select id="listActivity" resultMap="SysOrganizationResult">
        SELECT orgId,orgCode,parentOrgId,orgName,alias,status,createTime
        FROM SysOrganization
        WHERE status='true'
        ORDER BY orgCode
    </select>

    <select id="get" parameterType="String" resultMap="SysOrganizationResult">
        SELECT orgId,orgCode,parentOrgId,orgName,alias,status,createTime
        FROM SysOrganization
        WHERE orgId = #{orgId}
    </select>

    <select id="listVo" resultMap="SysOrganizationVoResult">
        SELECT a.orgId,a.orgCode,a.parentOrgId,a.orgName,a.alias,a.status,a.createTime,b.orgName AS parentOrgName
        FROM SysOrganization a
        LEFT JOIN SysOrganization b
        ON a.parentOrgId=b.orgId
        WHERE a.orgId!='00000000-0000-0000-0000-000000000000'
        ORDER BY a.orgCode
    </select>

    <select id="listChildren" parameterType="String" resultMap="SysOrganizationResult">
        SELECT orgId,orgCode,parentOrgId,orgName,alias,status,createTime
        FROM SysOrganization
        WHERE parentOrgId=#{orgId}
    </select>

    <!-- 映射 -->
    <resultMap type="com.iflat.system.bean.Organization" id="SysOrganizationResult">
        <result property="orgId" column="orgId" jdbcType="VARCHAR"/>
        <result property="orgCode" column="orgCode" jdbcType="NVARCHAR"/>
        <result property="parentOrgId" column="parentOrgId" jdbcType="VARCHAR"/>
        <result property="orgName" column="orgName" jdbcType="VARCHAR"/>
        <result property="alias" column="alias" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="BIT"/>
        <result property="createTime" column="createTime" jdbcType="DATE"/>
    </resultMap>
    <!-- 映射 -->
    <resultMap type="com.iflat.system.entity.OrganizationVo" id="SysOrganizationVoResult">
        <result property="orgId" column="orgId" jdbcType="VARCHAR"/>
        <result property="orgCode" column="orgCode" jdbcType="NVARCHAR"/>
        <result property="parentOrgId" column="parentOrgId" jdbcType="VARCHAR"/>
        <result property="parentOrgName" column="parentOrgName" jdbcType="VARCHAR"/>
        <result property="orgName" column="orgName" jdbcType="VARCHAR"/>
        <result property="alias" column="alias" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="BIT"/>
        <result property="createTime" column="createTime" jdbcType="DATE"/>
    </resultMap>
</mapper>