<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="System.Release">

    <insert id="insert" parameterType="com.iflat.system.bean.Release">
        INSERT INTO SysRelease
        VALUES (#{id},#{title},#{description},#{createTime})
    </insert>

    <update id="update" parameterType="com.iflat.system.bean.Release">
        UPDATE SysRelease
        <set>
            <if test="title!=null">title=#{title},</if>
            <if test="description!=null">description=#{description},</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.iflat.system.bean.Release">
        DELETE SysRelease
        WHERE id=#{id}
    </delete>

    <select id="list" parameterType="com.iflat.system.bean.Release" resultMap="SysReleaseResult">
        SELECT id,title,description,createTime
        FROM SysRelease
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="title!=null">AND title LIKE '%' + #{title} + '%'</if>
            <if test="description!=null">AND description LIKE '%' + #{description} + '%'</if>
        </where>
        ORDER BY createTime DESC
    </select>

    <resultMap type="com.iflat.system.bean.Release" id="SysReleaseResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="DATE"/>
    </resultMap>
</mapper>