<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Bi.AdditionalBill">

    <insert id="insert" parameterType="com.iflat.bi.bean.AdditionalBill">
        INSERT INTO BiAdditionalBill
        VALUES (#{id},#{projNo},#{item},#{labourUsd},#{labour},#{deviceUsd},#{device},#{materialUsd},#{material},#{comment},#{month},#{fixed},#{version})
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO BiAdditionalBill
        <foreach collection="list" item="it" index="index" separator="UNION ALL">
            SELECT #{it.id},#{it.projNo},#{it.item},#{it.labourUsd},#{it.labour},#{it.deviceUsd},#{it.device},#{it.materialUsd},#{it.material},#{it.comment},#{it.month},#{it.fixed},#{it.version}
        </foreach>
    </insert>

    <update id="update" parameterType="com.iflat.bi.bean.AdditionalBill">
        UPDATE BiAdditionalBill
        SET projNo=#{projNo},item=#{item},labourUsd=#{labourUsd},labour=#{labour},deviceUsd=#{deviceUsd},device=#{device},materialUsd=#{materialUsd},material=#{material},comment=#{comment},month=#{month},fixed=#{fixed},version=#{version}
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.iflat.bi.bean.AdditionalBill">
        DELETE BiAdditionalBill
        WHERE id = #{id}
    </delete>

    <select id="list" parameterType="com.iflat.bi.bean.AdditionalBill" resultMap="BiAdditionalBillResult">
        SELECT id,projNo,item,labourUsd,labour,deviceUsd,device,materialUsd,material,comment,month,fixed,version
        FROM BiAdditionalBill
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="projNo!=null">AND projNo=#{projNo}</if>
            <if test="item!=null">AND item=#{item}</if>
        </where>
    </select>

    <resultMap type="com.iflat.bi.bean.AdditionalBill" id="BiAdditionalBillResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="projNo" column="projNo" jdbcType="VARCHAR"/>
        <result property="item" column="item" jdbcType="VARCHAR"/>
        <result property="labourUsd" column="labourUsd" jdbcType="DOUBLE"/>
        <result property="labour" column="labour" jdbcType="DOUBLE"/>
        <result property="deviceUsd" column="deviceUsd" jdbcType="DOUBLE"/>
        <result property="device" column="device" jdbcType="DOUBLE"/>
        <result property="materialUsd" column="materialUsd" jdbcType="DOUBLE"/>
        <result property="material" column="material" jdbcType="DOUBLE"/>
        <result property="comment" column="comment" jdbcType="VARCHAR"/>
        <result property="month" column="month" jdbcType="DATE"/>
        <result property="fixed" column="fixed" jdbcType="DATE"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>
</mapper>