<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Bi.MajorMatQty">

    <insert id="insert" parameterType="com.iflat.bi.bean.MajorMatQty">
        INSERT INTO BiMajorMatQty
        VALUES (#{id},#{projNo},#{type},#{steelPlate},#{shapeSteel},#{otherSteel},#{steelPipe},#{weldingWire},#{importPaint},#{importThinner},#{marineCable},#{month},#{fixed},#{version})
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO BiMajorMatQty
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT #{item.id},#{item.projNo},#{item.type},#{item.steelPlate},#{item.shapeSteel},#{item.otherSteel},#{item.steelPipe},#{item.weldingWire},#{item.importPaint},#{item.importThinner},#{item.marineCable},#{item.month},#{item.fixed},#{item.version}
        </foreach>
    </insert>

    <update id="update" parameterType="com.iflat.bi.bean.MajorMatQty">
        UPDATE BiMajorMatQty
        SET projNo=#{projNo},type=#{type},steelPlate=#{steelPlate},shapeSteel=#{shapeSteel},otherSteel=#{otherSteel},steelPipe=#{steelPipe},weldingWire=#{weldingWire},importPaint=#{importPaint},importThinner=#{importThinner},marineCable=#{marineCable},month=#{month},fixed=#{fixed},version=#{version}
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.iflat.bi.bean.MajorMatQty">
        DELETE BiMajorMatQty
        WHERE id=#{id}
    </delete>

    <select id="list" parameterType="com.iflat.bi.bean.MajorMatQty" resultMap="BiMajorMatQtyResult">
        SELECT id,projNo,type,steelPlate,shapeSteel,otherSteel,steelPipe,weldingWire,importPaint,importThinner,marineCable,month,fixed,version
        FROM BiMajorMatQty
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="projNo!=null">AND projNo=#{projNo}</if>
            <if test="type!=null">AND type=#{type}</if>
        </where>
    </select>

    <resultMap type="com.iflat.bi.bean.MajorMatQty" id="BiMajorMatQtyResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="projNo" column="projNo" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="steelPlate" column="steelPlate" jdbcType="DOUBLE"/>
        <result property="shapeSteel" column="shapeSteel" jdbcType="DOUBLE"/>
        <result property="otherSteel" column="otherSteel" jdbcType="DOUBLE"/>
        <result property="steelPipe" column="steelPipe" jdbcType="DOUBLE"/>
        <result property="weldingWire" column="weldingWire" jdbcType="DOUBLE"/>
        <result property="importPaint" column="importPaint" jdbcType="DOUBLE"/>
        <result property="importThinner" column="importThinner" jdbcType="DOUBLE"/>
        <result property="marineCable" column="marineCable" jdbcType="DOUBLE"/>
        <result property="month" column="month" jdbcType="DATE"/>
        <result property="fixed" column="fixed" jdbcType="DATE"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>
</mapper>