<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Bi.ProjectSchedule">

    <insert id="insert" parameterType="com.iflat.bi.bean.ProjectSchedule">
        INSERT INTO BiProjectSchedule
        VALUES (#{id},#{projNo},#{commencePln},#{commenceAct},#{shipwayPln},#{shipwayAct},#{launchPln},#{launchAct},#{seaTrialPln},#{seaTrialAct},#{deliveryPln},#{deliveryAct},#{month},#{fixed},#{version})
    </insert>

    <update id="update" parameterType="com.iflat.bi.bean.ProjectSchedule">
        UPDATE BiProjectSchedule
        SET projNo=#{projNo},commencePln=#{commencePln},commenceAct=#{commenceAct},shipwayPln=#{shipwayPln},shipwayAct=#{shipwayAct},launchPln=#{launchPln},launchAct=#{launchAct},seaTrialPln=#{seaTrialPln},seaTrialAct=#{seaTrialAct},deliveryPln=#{deliveryPln},deliveryAct=#{deliveryAct},month=#{month},fixed=#{fixed},version=#{version}
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.iflat.bi.bean.ProjectSchedule">
        DELETE BiProjectSchedule
        WHERE id=#{id}
    </delete>

    <select id="list" resultMap="BiProjectScheduleResult">
        SELECT id,projNo,commencePln,commenceAct,shipwayPln,shipwayAct,launchPln,launchAct,seaTrialPln,seaTrialAct,deliveryPln,deliveryAct,month,fixed,version
        FROM BiProjectSchedule
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="projNo!=null">AND projNo=#{projNo}</if>
        </where>
    </select>

    <resultMap type="com.iflat.bi.bean.ProjectSchedule" id="BiProjectScheduleResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="projNo" column="projNo" jdbcType="VARCHAR"/>
        <result property="commencePln" column="commencePln" jdbcType="DATE"/>
        <result property="commenceAct" column="commenceAct" jdbcType="DATE"/>
        <result property="shipwayPln" column="shipwayPln" jdbcType="DATE"/>
        <result property="shipwayAct" column="shipwayAct" jdbcType="DATE"/>
        <result property="launchPln" column="launchPln" jdbcType="DATE"/>
        <result property="launchAct" column="launchAct" jdbcType="DATE"/>
        <result property="seaTrialPln" column="seaTrialPln" jdbcType="DATE"/>
        <result property="seaTrialAct" column="seaTrialAct" jdbcType="DATE"/>
        <result property="deliveryPln" column="deliveryPln" jdbcType="DATE"/>
        <result property="deliveryAct" column="deliveryAct" jdbcType="DATE"/>
        <result property="month" column="month" jdbcType="DATE"/>
        <result property="fixed" column="fixed" jdbcType="DATE"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>
</mapper>