<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Sm.Fine">

    <insert id="insert" parameterType="com.iflat.sm.bean.Fine">
        INSERT INTO SmFine
        VALUES (#{id},#{type},#{date},#{projNo},#{projName},#{dept},#{team},#{group},#{personAcc},#{personName},#{category},#{description},#{attachment},#{amount},#{score},#{comment},#{issuer},#{creatorAcc},#{creatorName},#{createTime})
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO SmFine
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT #{item.id},#{item.type},#{item.date},#{item.projNo},#{item.projName},#{item.dept},#{item.team},#{item.group},#{item.personAcc},#{item.personName},#{item.category},#{item.description},#{item.attachment},#{item.amount},#{item.score},#{item.comment},#{item.issuer},#{item.creatorAcc},#{item.creatorName},#{item.createTime}
        </foreach>
    </insert>

    <update id="update" parameterType="com.iflat.sm.bean.Fine">
        UPDATE SmFine
        <set>
            <if test="type!=null">type=#{type},</if>
            <if test="date!=null">date=#{date},</if>
            <if test="projNo!=null">projNo=#{projNo},</if>
            <if test="projName!=null">projName=#{projName},</if>
            <if test="dept!=null">dept=#{dept},</if>
            <if test="team!=null">team=#{team},</if>
            <if test="group!=null">[group]=#{group},</if>
            <if test="personAcc!=null">personAcc=#{personAcc},</if>
            <if test="personName!=null">personName=#{personName},</if>
            <if test="category!=null">category=#{category},</if>
            <if test="description!=null">description=#{description},</if>
            <if test="attachment!=null">attachment=#{attachment},</if>
            <if test="amount!=null">amount=#{amount},</if>
            <if test="score!=null">score=#{score},</if>
            <if test="comment!=null">comment=#{comment},</if>
            <if test="issuer!=null">issuer=#{issuer},</if>
            <if test="creatorAcc!=null">creatorAcc=#{creatorAcc},</if>
            <if test="creatorName!=null">creatorName=#{creatorName},</if>
            <if test="createTime!=null">createTime=#{createTime},</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.iflat.sm.bean.Fine">
        DELETE SmFine
        WHERE id=#{id}
    </delete>

    <select id="list" parameterType="com.iflat.sm.bean.Fine" resultMap="SmFineResult">
        SELECT id,type,date,projNo,projName,dept,team,[group],personAcc,personName,category,description,attachment,amount,score,comment,issuer,creatorAcc,creatorName,createTime
        FROM SmFine
        <where>
            <if test="id!=null and !&quot;&quot;.equals(id.trim())">id=#{id}</if>
            <if test="type!=null and !&quot;&quot;.equals(type.trim())">AND type=#{type}</if>
            <if test="projNo!=null and !&quot;&quot;.equals(projNo.trim())">AND projNo=#{projNo}</if>
            <if test="projName!=null and !&quot;&quot;.equals(projName.trim())">AND projName  LIKE '%'+#{projName} + '%'</if>
            <if test="dept!=null and !&quot;&quot;.equals(dept.trim())">AND dept=#{dept}</if>
            <if test="team!=null and !&quot;&quot;.equals(team.trim())">AND team=#{team}</if>
            <if test="group!=null and !&quot;&quot;.equals(group.trim())">AND [group]=#{group}</if>
            <if test="personAcc!=null and !&quot;&quot;.equals(personAcc.trim())">AND personAcc=#{personAcc}</if>
            <if test="personName!=null and !&quot;&quot;.equals(personName.trim())">AND personName=#{personName}</if>
            <if test="date!=null">AND DATEDIFF(MONTH,#{date},date)=0</if>
            <if test="category!=null and !&quot;&quot;.equals(category.trim())">AND category=#{category}</if>
            <if test="description!=null and !&quot;&quot;.equals(description.trim())">AND description  LIKE '%'+#{description} + '%'</if>
            <if test="comment!=null and !&quot;&quot;.equals(comment.trim())">AND comment  LIKE '%'+#{comment} + '%'</if>
            <if test="issuer!=null and !&quot;&quot;.equals(issuer.trim())">AND issuer=#{issuer}</if>
            <if test="creatorAcc!=null and !&quot;&quot;.equals(creatorAcc.trim())">AND creatorAcc=#{creatorAcc}</if>
            <if test="creatorName!=null and !&quot;&quot;.equals(creatorName.trim())">AND creatorName=#{creatorName}</if>
            <if test="fromDate!=null">
                AND date &gt;= #{fromDate}
            </if>
            <if test="toDate!=null">
                AND date &lt; DATEADD(day,1,#{toDate})
            </if>
        </where>
        ORDER BY date DESC,type,createTime
    </select>

    <resultMap type="com.iflat.sm.bean.Fine" id="SmFineResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="date" column="date" jdbcType="DATE"/>
        <result property="projNo" column="projNo" jdbcType="VARCHAR"/>
        <result property="projName" column="projName" jdbcType="VARCHAR"/>
        <result property="dept" column="dept" jdbcType="VARCHAR"/>
        <result property="team" column="team" jdbcType="VARCHAR"/>
        <result property="group" column="group" jdbcType="VARCHAR"/>
        <result property="personAcc" column="personAcc" jdbcType="VARCHAR"/>
        <result property="personName" column="personName" jdbcType="VARCHAR"/>
        <result property="category" column="category" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="attachment" column="attachment" jdbcType="VARCHAR"/>
        <result property="amount" column="amount" jdbcType="DOUBLE"/>
        <result property="score" column="score" jdbcType="DOUBLE"/>
        <result property="comment" column="comment" jdbcType="VARCHAR"/>
        <result property="issuer" column="issuer" jdbcType="VARCHAR"/>
        <result property="creatorAcc" column="creatorAcc" jdbcType="VARCHAR"/>
        <result property="creatorName" column="creatorName" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="DATE"/>
    </resultMap>
</mapper>