<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Sm.SbRequest">

    <insert id="insert" parameterType="com.iflat.sm.bean.SbRequest">
        INSERT INTO SmSbRequest
        VALUES (#{id},#{projNo},#{projName},#{team},#{status})
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO SmSbRequest
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT #{item.id},#{item.projNo},#{item.projName},#{item.team},#{item.status}
        </foreach>
    </insert>

    <update id="update" parameterType="com.iflat.sm.bean.SbRequest">
        UPDATE SmSbRequest
        <set>
            <if test="projNo!=null">projNo=#{projNo},</if>
            <if test="projName!=null">projName=#{projName},</if>
            <if test="team!=null">team=#{team},</if>
            <if test="status!=null">status=#{status},</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.iflat.sm.bean.SbRequest">
        DELETE SmSbRequest
        WHERE id=#{id}
    </delete>

    <select id="list" parameterType="com.iflat.sm.bean.SbRequest" resultMap="SmSbRequestResult">
        SELECT id,projNo,projName,team,status
        FROM SmSbRequest
        <where>
            <if test="id!=null">
                id=#{id}
            </if>
            <if test="projNo!=null and !&quot;&quot;.equals(projNo.trim())">
                AND projNo=#{projNo}
            </if>
            <if test="projName!=null and !&quot;&quot;.equals(projName.trim())">
                AND projName=#{projName}
            </if>
            <if test="team!=null and !&quot;&quot;.equals(team.trim())">
                AND team LIKE '%' + #{team} + '%'
            </if>
        </where>
        ORDER BY projNo,team
    </select>

    <resultMap type="com.iflat.sm.bean.SbRequest" id="SmSbRequestResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="projNo" column="projNo" jdbcType="VARCHAR"/>
        <result property="projName" column="projName" jdbcType="VARCHAR"/>
        <result property="team" column="team" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>
</mapper>