<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Sm.TargetCost">

    <insert id="insert" parameterType="com.iflat.sm.bean.TargetCost">
        INSERT INTO SmTargetCost
        VALUES (#{id},#{projNo},#{projName},#{costAccount},#{amount},#{creatorAcc},#{creatorName},#{createTime},#{costAccountName})
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO SmTargetCost
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT #{item.id},#{item.projNo},#{item.projName},#{item.costAccount},#{item.amount},#{item.creatorAcc},#{item.creatorName},#{item.createTime},#{item.costAccountName}
        </foreach>
    </insert>

    <update id="update" parameterType="com.iflat.sm.bean.TargetCost">
        UPDATE SmTargetCost
        <set>
            <if test="projNo!=null">projNo=#{projNo},</if>
            <if test="projName!=null">projName=#{projName},</if>
            <if test="costAccount!=null">costAccount=#{costAccount},</if>
            <if test="amount!=null">amount=#{amount},</if>
            <if test="costAccountName!=null">costAccountName=#{costAccountName},</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.iflat.sm.bean.TargetCost">
        DELETE SmTargetCost
        WHERE id=#{id}
    </delete>

    <select id="list" parameterType="com.iflat.sm.bean.TargetCost" resultMap="SmTargetCostResult">
        SELECT id,projNo,projName,costAccount,amount,type,costAccountName
        FROM V_SmTargetCost
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="projNo!=null">AND projNo=#{projNo}</if>
            <if test="costAccount!=null">AND costAccount=#{costAccount}</if>
            <if test="type!=null">AND type=#{type}</if>
        </where>
    </select>

    <resultMap type="com.iflat.sm.bean.TargetCost" id="SmTargetCostResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="projNo" column="projNo" jdbcType="VARCHAR"/>
        <result property="projName" column="projName" jdbcType="VARCHAR"/>
        <result property="costAccount" column="costAccount" jdbcType="VARCHAR"/>
        <result property="costAccountName" column="costAccountName" jdbcType="VARCHAR"/>
        <result property="amount" column="amount" jdbcType="DOUBLE"/>
        <result property="creatorAcc" column="creatorAcc" jdbcType="VARCHAR"/>
        <result property="creatorName" column="creatorName" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="DATE"/>
    </resultMap>
</mapper>