<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Sm.TargetCostAccount">

    <select id="list" parameterType="com.iflat.sm.bean.TargetCostAccount" resultMap="SmTargetCostAccountResult">
        SELECT code,name,type
        FROM V_Cst_SmTargetCostAccount
        <where>
            <if test="code!=null">code=#{code}</if>
            <if test="name!=null">AND name=#{name}</if>
            <if test="type!=null">AND type=#{type}</if>
        </where>
        ORDER BY (CASE type WHEN '钢结构' THEN 0 ELSE 1 END),code
    </select>

    <resultMap type="com.iflat.sm.bean.TargetCostAccount" id="SmTargetCostAccountResult">
        <result property="code" column="code" jdbcType="CHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>