<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Sm.Temporary">

    <insert id="insert" parameterType="com.iflat.sm.bean.Temporary">
        INSERT INTO SmTemporary
        VALUES (#{id},#{month},#{dept},#{creatorAcc},#{creatorName},#{createTime},#{status},#{attachment},#{comment},#{settlementTime})
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO SmTemporary
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT #{item.id},#{item.month},#{item.dept},#{item.creatorAcc},#{item.creatorName},#{item.createTime},#{item.status},#{item.attachment},#{item.comment},#{item.settlementTime}
        </foreach>
    </insert>

    <update id="update" parameterType="com.iflat.sm.bean.Temporary">
        UPDATE SmTemporary
        <set>
            <if test="month!=null">month=#{month},</if>
            <if test="dept!=null">dept=#{dept},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="attachment!=null">attachment=#{attachment},</if>
            <if test="comment!=null">comment=#{comment},</if>
            <if test="settlementTime!=null">settlementTime=#{settlementTime},</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.iflat.sm.bean.Temporary">
        DELETE SmTemporary
        WHERE id=#{id}
    </delete>

    <select id="list" parameterType="com.iflat.sm.bean.Temporary" resultMap="SmTemporaryResult">
        SELECT id,month,dept,creatorAcc,creatorName,createTime,status,amount,attachment,comment,settlementTime
        FROM V_SmTemporary
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="dept!=null">AND dept=#{dept}</if>
            <if test="month!=null">AND DATEDIFF(MONTH,#{month},month)=0</if>
            <if test="settlementTime!=null">AND DATEDIFF(MONTH,#{settlementTime},settlementTime)=0</if>
            <if test="creatorAcc!=null">AND creatorAcc=#{creatorAcc}</if>
            <if test="creatorName!=null">AND creatorName=#{creatorName}</if>
            <if test="status!=null">AND status=#{status}</if>
        </where>
        ORDER BY (CASE status WHEN '未提交' THEN 0 ELSE 1 END),month DESC,dept,createTime
    </select>

    <resultMap type="com.iflat.sm.bean.Temporary" id="SmTemporaryResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="month" column="month" jdbcType="DATE"/>
        <result property="dept" column="dept" jdbcType="VARCHAR"/>
        <result property="creatorAcc" column="creatorAcc" jdbcType="VARCHAR"/>
        <result property="creatorName" column="creatorName" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="DATE"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="amount" column="amount" jdbcType="DOUBLE"/>
        <result property="attachment" column="attachment" jdbcType="DOUBLE"/>
        <result property="comment" column="comment" jdbcType="VARCHAR"/>
        <result property="settlementTime" column="settlementTime" jdbcType="DATE"/>
    </resultMap>
</mapper>