<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Sm.TemporaryDetail">

    <insert id="insert" parameterType="com.iflat.sm.bean.TemporaryDetail">
        INSERT INTO SmTemporaryDetail
        VALUES (#{id},#{pid},#{team},#{name},#{standard},#{days},#{ratio},#{score},#{salary},#{adjust},#{trades},#{comment},#{creatorAcc},#{creatorName},#{createTime})
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO SmTemporaryDetail
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT #{item.id},#{item.pid},#{item.team},#{item.name},#{item.standard},#{item.days},#{item.ratio},#{item.score},#{item.salary},#{item.adjust},#{item.trades},#{item.comment},#{item.creatorAcc},#{item.creatorName},#{item.createTime}
        </foreach>
    </insert>

    <update id="update" parameterType="com.iflat.sm.bean.TemporaryDetail">
        UPDATE SmTemporaryDetail
        <set>
            <if test="pid!=null">pid=#{pid},</if>
            <if test="team!=null">team=#{team},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="standard!=null">standard=#{standard},</if>
            <if test="days!=null">days=#{days},</if>
            <if test="ratio!=null">ratio=#{ratio},</if>
            <if test="score!=null">score=#{score},</if>
            <if test="salary!=null">salary=#{salary},</if>
            <if test="adjust!=null">adjust=#{adjust},</if>
            <if test="trades!=null">trades=#{trades},</if>
            <if test="comment!=null">comment=#{comment},</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.iflat.sm.bean.TemporaryDetail">
        DELETE SmTemporaryDetail
        WHERE id=#{id}
    </delete>

    <select id="list" parameterType="com.iflat.sm.bean.TemporaryDetail" resultMap="SmTemporaryDetailResult">
        SELECT id,pid,team,name,standard,days,ratio,score,salary,adjust,trades,comment,creatorAcc,creatorName,createTime
        FROM SmTemporaryDetail
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="pid!=null">AND pid=#{pid}</if>
            <if test="team!=null">AND team=#{team}</if>
            <if test="name!=null">AND name=#{name}</if>
            <if test="trades!=null">AND trades=#{trades}</if>
            <if test="creatorAcc!=null">AND creatorAcc=#{creatorAcc}</if>
            <if test="creatorName!=null">AND creatorName=#{creatorName}</if>
        </where>
        ORDER BY pid,team,trades,name,createTime
    </select>

    <resultMap type="com.iflat.sm.bean.TemporaryDetail" id="SmTemporaryDetailResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="pid" column="pid" jdbcType="CHAR"/>
        <result property="team" column="team" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="standard" column="standard" jdbcType="DOUBLE"/>
        <result property="days" column="days" jdbcType="INTEGER"/>
        <result property="ratio" column="ratio" jdbcType="DOUBLE"/>
        <result property="score" column="score" jdbcType="DOUBLE"/>
        <result property="salary" column="salary" jdbcType="DOUBLE"/>
        <result property="adjust" column="adjust" jdbcType="DOUBLE"/>
        <result property="trades" column="trades" jdbcType="VARCHAR"/>
        <result property="comment" column="comment" jdbcType="VARCHAR"/>
        <result property="creatorAcc" column="creatorAcc" jdbcType="VARCHAR"/>
        <result property="creatorName" column="creatorName" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="DATE"/>
    </resultMap>
</mapper>