<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Sm.Temporary">

    <insert id="insert" parameterType="com.iflat.sm.bean.Temporary">
        INSERT INTO SmTemporary
        VALUES (#{id},#{month},#{dept},#{team},#{name},#{amount},#{trades},#{comment},#{creatorAcc},#{creatorName},#{createTime})
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO SmTemporary
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT #{item.id},#{item.month},#{item.dept},#{item.team},#{item.name},#{item.amount},#{item.trades},#{item.comment},#{item.creatorAcc},#{item.creatorName},#{item.createTime}
        </foreach>
    </insert>

    <update id="update" parameterType="com.iflat.sm.bean.Temporary">
        UPDATE SmTemporary
        <set>
            <if test="month!=null">month=#{month},</if>
            <if test="dept!=null">dept=#{dept},</if>
            <if test="team!=null">team=#{team},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="amount!=null">amount=#{amount},</if>
            <if test="trades!=null">trades=#{trades},</if>
            <if test="comment!=null">comment=#{comment},</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.iflat.sm.bean.Temporary">
        DELETE SmTemporary
        WHERE id=#{id}
    </delete>

    <select id="list" parameterType="com.iflat.sm.bean.Temporary" resultMap="SmTemporaryResult">
        SELECT id,month,dept,team,name,amount,trades,comment,creatorAcc,creatorName,createTime
        FROM SmTemporary
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="dept!=null">AND dept=#{dept}</if>
            <if test="team!=null">AND team=#{team}</if>
            <if test="month!=null">AND DATEDIFF(MONTH,#{month},month)=0</if>
            <if test="trades!=null">AND trades=#{trades}</if>
            <if test="creatorAcc!=null">AND creatorAcc=#{creatorAcc}</if>
            <if test="creatorName!=null">AND creatorName=#{creatorName}</if>
        </where>
        ORDER BY month DESC,dept,team,trades,createTime
    </select>

    <resultMap type="com.iflat.sm.bean.Temporary" id="SmTemporaryResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="month" column="month" jdbcType="DATE"/>
        <result property="dept" column="dept" jdbcType="VARCHAR"/>
        <result property="team" column="team" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="amount" column="amount" jdbcType="DOUBLE"/>
        <result property="trades" column="trades" jdbcType="VARCHAR"/>
        <result property="comment" column="comment" jdbcType="VARCHAR"/>
        <result property="creatorAcc" column="creatorAcc" jdbcType="VARCHAR"/>
        <result property="creatorName" column="creatorName" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="DATE"/>
    </resultMap>
</mapper>
