<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="System.Operating">

    <insert id="insert" parameterType="com.iflat.system.bean.Operating">
        INSERT INTO SysOperating
        VALUES (#{opId},#{operating},#{alias},#{method},#{sequence},#{nameSpace},#{moduleName})
    </insert>

    <update id="update" parameterType="com.iflat.system.bean.Operating">
        UPDATE SysOperating
        <set>
            <if test="operating!=null">operating=#{operating},</if>
            <if test="alias!=null">alias=#{alias},</if>
            <if test="method!=null">method=#{method},</if>
            <if test="sequence!=null">sequence=#{sequence},</if>
            <if test="nameSpace!=null">nameSpace=#{nameSpace},</if>
            <if test="moduleName!=null">moduleName=#{moduleName}</if>
        </set>
        WHERE opId=#{opId}
    </update>

    <delete id="delete" parameterType="String">
        DELETE SysOperating
        WHERE opId=#{opId}
    </delete>

    <select id="get" parameterType="String" resultMap="SysOperatingResult">
        SELECT opId,operating,alias,method,sequence,nameSpace,moduleName
        FROM SysOperating
        WHERE opId=#{opId}
    </select>

    <select id="list" parameterType="com.iflat.system.bean.Operating" resultMap="SysOperatingResult">
        SELECT opId,operating,alias,method,sequence,nameSpace,moduleName
        FROM SysOperating
        <where>
            <if test="opId!=null">opId=#{opId}</if>
            <if test="operating!=null">AND operating=#{operating}</if>
            <if test="alias!=null">AND alias=#{alias}</if>
            <if test="method!=null">AND method=#{method}</if>
            <if test="sequence!=null">AND sequence=#{sequence}</if>
            <if test="nameSpace!=null">AND nameSpace=#{nameSpace}</if>
            <if test="moduleName!=null">AND moduleName=#{moduleName}</if>
        </where>
        ORDER BY sequence
    </select>

    <!-- 映射 -->
    <resultMap type="com.iflat.system.bean.Operating" id="SysOperatingResult">
        <result property="opId" column="opId" jdbcType="VARCHAR"/>
        <result property="operating" column="operating" jdbcType="VARCHAR"/>
        <result property="alias" column="alias" jdbcType="VARCHAR"/>
        <result property="method" column="method" jdbcType="VARCHAR"/>
        <result property="sequence" column="sequence" jdbcType="VARCHAR"/>
        <result property="nameSpace" column="nameSpace" jdbcType="VARCHAR"/>
        <result property="moduleName" column="moduleName" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>