<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="System.User">

    <insert id="insert" parameterType="com.iflat.system.bean.User">
        INSERT INTO SysUser
        VALUES (#{userId},#{account},#{userName},#{password},#{orgId},#{title},#{status},#{sequence},#{officeTel},#{homeTel},#{mobileTel},#{email},#{address},#{qq},#{skype},#{fax},#{rank},#{comment},#{createTime})
    </insert>

    <update id="update" parameterType="com.iflat.system.bean.User">
        UPDATE SysUser
        <set>
            <if test="account!=null">account=#{account},</if>
            <if test="userName!=null">userName=#{userName},</if>
            <if test="password!=null and !&quot;&quot;.equals(password.trim())">password=#{password},</if>
            <if test="orgId!=null">orgId=#{orgId},</if>
            <if test="title!=null">title=#{title},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="sequence!=null">sequence=#{sequence},</if>
            <if test="officeTel!=null">officeTel=#{officeTel},</if>
            <if test="homeTel!=null">homeTel=#{homeTel},</if>
            <if test="mobileTel!=null">mobileTel=#{mobileTel},</if>
            <if test="email!=null">email=#{email},</if>
            <if test="address!=null">address=#{address},</if>
            <if test="qq!=null">qq=#{qq},</if>
            <if test="skype!=null">skype=#{skype},</if>
            <if test="fax!=null">fax=#{fax},</if>
            <if test="rank!=null">rank=#{rank},</if>
            <if test="comment!=null">comment=#{comment},</if>
            <if test="createTime!=null">createTime=#{createTime},</if>
        </set>
        WHERE userId=#{userId}
    </update>

    <update id="updateByAccount" parameterType="com.iflat.system.bean.User">
        UPDATE SysUser
        <set>
            <if test="userName!=null">userName=#{userName},</if>
            <if test="password!=null and !&quot;&quot;.equals(password.trim())">password=#{password},</if>
            <if test="orgId!=null">orgId=#{orgId},</if>
            <if test="title!=null">title=#{title},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="sequence!=null">sequence=#{sequence},</if>
            <if test="officeTel!=null">officeTel=#{officeTel},</if>
            <if test="homeTel!=null">homeTel=#{homeTel},</if>
            <if test="mobileTel!=null">mobileTel=#{mobileTel},</if>
            <if test="email!=null">email=#{email},</if>
            <if test="address!=null">address=#{address},</if>
            <if test="qq!=null">qq=#{qq},</if>
            <if test="skype!=null">skype=#{skype},</if>
            <if test="fax!=null">fax=#{fax},</if>
            <if test="rank!=null">rank=#{rank},</if>
            <if test="comment!=null">comment=#{comment},</if>
            <if test="createTime!=null">createTime=#{createTime},</if>
        </set>
        WHERE account=#{account}
    </update>

    <update id="changePassword" parameterType="com.iflat.system.entity.PasswordChange">
        UPDATE SysUser
        SET password=#{password}
        WHERE account=#{account} AND password=#{old}
    </update>

    <delete id="delete" parameterType="String">
        DELETE SysUser
        WHERE userId=#{userId}
    </delete>

    <delete id="deleteByAccount" parameterType="String">
        DELETE SysUser
        WHERE account=#{account}
    </delete>

    <select id="list" resultMap="SysUserResult">
        SELECT userId,account,userName,password,orgId,title,status,sequence,officeTel,homeTel,mobileTel,email,address,qq,skype,fax,rank,comment,createTime
        FROM SysUser
    </select>

    <select id="listByOrgId" parameterType="String" resultMap="SysUserResult">
        SELECT userId,account,userName,password,orgId,title,status,sequence,officeTel,homeTel,mobileTel,email,address,qq,skype,fax,rank,comment,createTime
        FROM SysUser
        WHERE orgId=#{orgId}
    </select>

    <select id="get" parameterType="String" resultMap="SysUserResult">
        SELECT userId,account,userName,password,orgId,title,status,sequence,officeTel,homeTel,mobileTel,email,address,qq,skype,fax,rank,comment,createTime
        FROM SysUser
        WHERE userId = #{userId}
    </select>

    <select id="getByAccount" parameterType="String" resultMap="SysUserResult">
        SELECT userId,account,userName,password,orgId,title,status,sequence,officeTel,homeTel,mobileTel,email,address,qq,skype,fax,rank,comment,createTime
        FROM SysUser
        WHERE account = #{account}
    </select>

    <select id="getActivityUserByAccount" parameterType="String" resultMap="SysUserResult">
        SELECT userId,account,userName,password,orgId,title,status,sequence,officeTel,homeTel,mobileTel,email,address,qq,skype,fax,rank,comment,createTime
        FROM SysUser
        WHERE account = #{account}
        AND status='true'
    </select>

    <resultMap type="com.iflat.system.bean.User" id="SysUserResult">
        <result property="userId" column="userId" jdbcType="CHAR"/>
        <result property="account" column="account" jdbcType="VARCHAR"/>
        <result property="userName" column="userName" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="orgId" column="orgId" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="BIT"/>
        <result property="sequence" column="sequence" jdbcType="VARCHAR"/>
        <result property="officeTel" column="officeTel" jdbcType="VARCHAR"/>
        <result property="homeTel" column="homeTel" jdbcType="VARCHAR"/>
        <result property="mobileTel" column="mobileTel" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="qq" column="qq" jdbcType="VARCHAR"/>
        <result property="skype" column="skype" jdbcType="VARCHAR"/>
        <result property="fax" column="fax" jdbcType="VARCHAR"/>
        <result property="rank" column="rank" jdbcType="VARCHAR"/>
        <result property="comment" column="comment" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="DATE"/>
    </resultMap>

    <select id="listActiveUserInfoByAccount" parameterType="String" resultMap="SysUserInfoVoResult">
        SELECT account,userName,title,roleId,roleName,orgId,orgCode,orgName,porgId,porgCode,porgName,sequence
        FROM V_SysUserInfo
        WHERE account = #{account}
        ORDER BY sequence
    </select>

    <select id="listVoByVo" parameterType="com.iflat.system.entity.UserInfoVo" resultMap="SysUserInfoVoResult">
        SELECT account,userName,title,roleId,roleName,orgId,orgCode,orgName,porgId,porgCode,porgName,sequence
        FROM V_SysUserInfo
        <where>
            <if test="account!=null">account=#{account}</if>
            <if test="userName!=null">AND userName=#{userName}</if>
            <if test="title!=null">AND title=#{title}</if>
            <if test="roleId!=null">AND roleId=#{roleId}</if>
            <if test="roleName!=null">AND roleName=#{roleName}</if>
            <if test="orgId!=null">AND orgId=#{orgId}</if>
            <if test="orgCode!=null">AND orgCode=#{orgCode}</if>
            <if test="orgName!=null">AND orgName=#{orgName}</if>
            <if test="porgId!=null">AND porgId=#{porgId}</if>
            <if test="porgCode!=null">AND porgCode=#{porgCode}</if>
            <if test="porgName!=null">AND porgName=#{porgName}</if>
        </where>
        ORDER BY sequence
    </select>

    <resultMap type="com.iflat.system.entity.UserInfoVo" id="SysUserInfoVoResult">
        <result property="account" column="account" jdbcType="VARCHAR"/>
        <result property="userName" column="userName" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="roleId" column="roleId" jdbcType="VARCHAR"/>
        <result property="roleName" column="roleName" jdbcType="VARCHAR"/>
        <result property="orgId" column="orgId" jdbcType="VARCHAR"/>
        <result property="orgCode" column="orgCode" jdbcType="VARCHAR"/>
        <result property="orgName" column="orgName" jdbcType="VARCHAR"/>
        <result property="porgId" column="porgId" jdbcType="VARCHAR"/>
        <result property="porgCode" column="porgCode" jdbcType="VARCHAR"/>
        <result property="porgName" column="porgName" jdbcType="VARCHAR"/>
        <result property="sequence" column="sequence" jdbcType="INTEGER"/>
    </resultMap>
</mapper>