<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="smAction" class="com.iflat.sm.action.SmAction" scope="prototype">
        <property name="sbSettlement" ref="sbSettlement"/>
        <property name="sbSettlementService" ref="sbSettlementService"/>
        <property name="sbSettlementDetail" ref="sbSettlementDetail"/>
        <property name="sbSettlementDetailService" ref="sbSettlementDetailService"/>
        <property name="sbTargetCost" ref="sbTargetCost"/>
        <property name="sbTargetCostService" ref="sbTargetCostService"/>
        <property name="sbTargetCostSplit" ref="sbTargetCostSplit"/>
        <property name="sbTargetCostSplitService" ref="sbTargetCostSplitService"/>
        <property name="sbTargetCostAccount" ref="sbTargetCostAccount"/>
        <property name="sbTargetCostAccountService" ref="sbTargetCostAccountService"/>
        <property name="srProjectManagerService" ref="srProjectManagerService"/>
        <property name="srProjectManager" ref="srProjectManager"/>
        <property name="srSettlementService" ref="srSettlementService"/>
        <property name="srSettlement" ref="srSettlement"/>
        <property name="srSettlementDetlFirstService" ref="srSettlementDetlFirstService"/>
        <property name="srSettlementDetlFirst" ref="srSettlementDetlFirst"/>
        <property name="srSettlementDetlSecondService" ref="srSettlementDetlSecondService"/>
        <property name="srSettlementDetlSecond" ref="srSettlementDetlSecond"/>
        <property name="srSettlementBalanceService" ref="srSettlementBalanceService"/>
        <property name="srSettlementBalance" ref="srSettlementBalance"/>
        <property name="workflowService" ref="workflowService"/>
    </bean>

    <bean id="sbSettlementService" class="com.iflat.sm.service.impl.SbSettlementServiceImpl">
        <property name="workflowService" ref="workflowService"/>
    </bean>
    <bean id="sbSettlementDao" class="com.iflat.sm.dao.impl.SbSettlementDaoImpl"/>
    <bean id="sbSettlement" class="com.iflat.sm.bean.SbSettlement" scope="prototype"/>

    <bean id="sbSettlementVoService" class="com.iflat.sm.service.impl.SbSettlementVoServiceImpl"/>
    <bean id="sbSettlementVoDao" class="com.iflat.sm.dao.impl.SbSettlementVoDaoImpl"/>
    <bean id="sbSettlementVo" class="com.iflat.sm.entity.SbSettlementVo" scope="prototype"/>

    <bean id="sbSettlementDetailService" class="com.iflat.sm.service.impl.SbSettlementDetailServiceImpl">
        <property name="sbSettlementService" ref="sbSettlementService"/>
        <property name="sbTargetCostSplitService" ref="sbTargetCostSplitService"/>
        <property name="sbSettlementVoService" ref="sbSettlementVoService"/>
    </bean>
    <bean id="sbSettlementDetailDao" class="com.iflat.sm.dao.impl.SbSettlementDetailDaoImpl"/>
    <bean id="sbSettlementDetail" class="com.iflat.sm.bean.SbSettlementDetail" scope="prototype"/>

    <bean id="sbTargetCostService" class="com.iflat.sm.service.impl.SbTargetCostServiceImpl"/>
    <bean id="sbTargetCostDao" class="com.iflat.sm.dao.impl.SbTargetCostDaoImpl"/>
    <bean id="sbTargetCost" class="com.iflat.sm.bean.SbTargetCost" scope="prototype"/>

    <bean id="sbTargetCostAccountService" class="com.iflat.sm.service.impl.SbTargetCostAccountServiceImpl"/>
    <bean id="sbTargetCosAccounttDao" class="com.iflat.sm.dao.impl.SbTargetCostAccountDaoImpl"/>
    <bean id="sbTargetCostAccount" class="com.iflat.sm.bean.SbTargetCostAccount" scope="prototype"/>

    <bean id="sbTargetCostSplitService" class="com.iflat.sm.service.impl.SbTargetCostSplitServiceImpl">
        <property name="sbTargetCostService" ref="sbTargetCostService"/>
        <property name="sbSettlementVoService" ref="sbSettlementVoService"/>
    </bean>
    <bean id="sbTargetCostSplitDao" class="com.iflat.sm.dao.impl.SbTargetCostSplitDaoImpl"/>
    <bean id="sbTargetCostSplit" class="com.iflat.sm.bean.SbTargetCostSplit" scope="prototype"/>

    <bean id="srSettlementService" class="com.iflat.sm.service.impl.SrSettlementServiceImpl">
        <property name="workflowService" ref="workflowService"/>
    </bean>
    <bean id="srSettlementDao" class="com.iflat.sm.dao.impl.SrSettlementDaoImpl"/>
    <bean id="srSettlement" class="com.iflat.sm.bean.SrSettlement" scope="prototype"/>

    <bean id="srSettlementDetlFirstService" class="com.iflat.sm.service.impl.SrSettlementDetlFirstServiceImpl"/>
    <bean id="srSettlementDetlFirstDao" class="com.iflat.sm.dao.impl.SrSettlementDetlFirstDaoImpl"/>
    <bean id="srSettlementDetlFirst" class="com.iflat.sm.bean.SrSettlementDetlFirst" scope="prototype"/>

    <bean id="srSettlementDetlSecondService" class="com.iflat.sm.service.impl.SrSettlementDetlSecondServiceImpl"/>
    <bean id="srSettlementDetlSecondDao" class="com.iflat.sm.dao.impl.SrSettlementDetlSecondDaoImpl"/>
    <bean id="srSettlementDetlSecond" class="com.iflat.sm.bean.SrSettlementDetlSecond" scope="prototype"/>

    <bean id="srSettlementBalanceService" class="com.iflat.sm.service.impl.SrSettlementBalanceServiceImpl"/>
    <bean id="srSettlementBalanceDao" class="com.iflat.sm.dao.impl.SrSettlementBalanceDaoImpl"/>
    <bean id="srSettlementBalance" class="com.iflat.sm.bean.SrSettlementBalance" scope="prototype"/>

    <bean id="srProjectManagerService" class="com.iflat.sm.service.impl.SrProjectManagerServiceImpl"/>
    <bean id="srProjectManagerDao" class="com.iflat.sm.dao.impl.SrProjectManagerDaoImpl"/>
    <bean id="srProjectManager" class="com.iflat.sm.bean.SrProjectManager" scope="prototype"/>
</beans>