<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="workflowAction" class="com.iflat.workflow.action.WorkflowAction" scope="prototype">
        <property name="workflowService" ref="workflowService"/>
    </bean>

    <bean id="workflowService" class="com.iflat.workflow.service.impl.WorkflowServiceImpl">
        <property name="repositoryService" ref="repositoryService"/>
        <property name="runtimeService" ref="runtimeService"/>
        <property name="taskService" ref="taskService"/>
    </bean>
</beans>