<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hrAction" class="com.iflat.hr.action.HrAction" scope="prototype">
        <property name="credit" ref="credit"/>
        <property name="creditService" ref="creditService"/>
    </bean>

    <bean id="creditService" class="com.iflat.hr.service.impl.CreditServiceImpl"/>
    <bean id="creditDao" class="com.iflat.hr.dao.impl.CreditDaoImpl"/>
    <bean id="credit" class="com.iflat.hr.bean.Credit" scope="prototype"/>

</beans>