<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean、entity-->
    <bean id="result" class="com.iflat.base.entity.Result" scope="prototype"></bean>

    <bean id="baseServiceSupport" class="com.iflat.base.service.impl.BaseServiceSupport" scope="prototype">
        <property name="runtimeService" ref="runtimeService"/>
        <property name="workflowService" ref="workflowService"/>
    </bean>

    <bean id="baseDaoSupport" class="com.iflat.base.dao.impl.BaseDaoSupport" scope="prototype">
    </bean>

    <bean id="baseAction" class="com.iflat.base.action.impl.BaseAction" scope="prototype">
        <property name="result" ref="result"/>
    </bean>

    <bean id="page" class="com.iflat.base.entity.Page"/>
</beans>