<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="smAction" class="com.iflat.sm.action.SmAction" scope="prototype">
        <property name="sbSettlement" ref="sbSettlement"/>
        <property name="sbSettlementService" ref="sbSettlementService"/>
        <property name="sbSettlementDetail" ref="sbSettlementDetail"/>
        <property name="sbSettlementDetailService" ref="sbSettlementDetailService"/>
        <property name="scSettlement" ref="scSettlement"/>
        <property name="scSettlementService" ref="scSettlementService"/>
        <property name="scSettlementDetail" ref="scSettlementDetail"/>
        <property name="scSettlementDetailService" ref="scSettlementDetailService"/>
        <property name="projectTargetCost" ref="projectTargetCost"/>
        <property name="projectTargetCostService" ref="projectTargetCostService"/>
        <property name="targetCost" ref="targetCost"/>
        <property name="targetCostService" ref="targetCostService"/>
        <property name="projectTargetCostVo" ref="projectTargetCostVo"/>
        <property name="projectTargetCostVoService" ref="projectTargetCostVoService"/>
        <property name="targetCostVo" ref="targetCostVo"/>
        <property name="targetCostVoService" ref="targetCostVoService"/>
        <property name="targetCostSplit" ref="targetCostSplit"/>
        <property name="targetCostSplitService" ref="targetCostSplitService"/>
        <property name="targetCostAccount" ref="targetCostAccount"/>
        <property name="targetCostAccountService" ref="targetCostAccountService"/>
        <property name="srProjectManagerService" ref="srProjectManagerService"/>
        <property name="srProjectManager" ref="srProjectManager"/>
        <property name="srSettlementService" ref="srSettlementService"/>
        <property name="srSettlement" ref="srSettlement"/>
        <property name="srSettlementDetlFirstService" ref="srSettlementDetlFirstService"/>
        <property name="srSettlementDetlFirst" ref="srSettlementDetlFirst"/>
        <property name="srSettlementDetlSecondService" ref="srSettlementDetlSecondService"/>
        <property name="srSettlementDetlSecond" ref="srSettlementDetlSecond"/>
        <property name="srSettlementBalanceService" ref="srSettlementBalanceService"/>
        <property name="srSettlementBalance" ref="srSettlementBalance"/>
        <property name="workflowService" ref="workflowService"/>
        <property name="srSettlementSecond" ref="srSettlementSecond"/>
        <property name="srSettlementSecondService" ref="srSettlementSecondService"/>
        <property name="tecSettlement" ref="tecSettlement"/>
        <property name="tecSettlementService" ref="tecSettlementService"/>
        <property name="tecSettlementDetail" ref="tecSettlementDetail"/>
        <property name="tecSettlementDetailService" ref="tecSettlementDetailService"/>
        <property name="subsidy" ref="subsidy"/>
        <property name="subsidyService" ref="subsidyService"/>
        <property name="payment" ref="payment"/>
        <property name="paymentService" ref="paymentService"/>
        <property name="outsourcing" ref="outsourcing"/>
        <property name="outsourcingService" ref="outsourcingService"/>
        <property name="fine" ref="fine"/>
        <property name="fineService" ref="fineService"/>
        <property name="discount" ref="discount"/>
        <property name="discountService" ref="discountService"/>
        <property name="temporary" ref="temporary"/>
        <property name="temporaryService" ref="temporaryService"/>
        <property name="temporaryDetail" ref="temporaryDetail"/>
        <property name="temporaryDetailService" ref="temporaryDetailService"/>
    </bean>

    <bean id="sbSettlementService" class="com.iflat.sm.service.impl.SbSettlementServiceImpl">
        <property name="workflowService" ref="workflowService"/>
        <property name="rptProjectService" ref="rptProjectService"/>
        <property name="targetCostAccountService" ref="targetCostAccountService"/>
        <property name="teamService" ref="teamService"/>
        <property name="sbSettlement" ref="sbSettlement"/>
    </bean>
    <bean id="sbSettlementDao" class="com.iflat.sm.dao.impl.SbSettlementDaoImpl"/>
    <bean id="sbSettlement" class="com.iflat.sm.bean.SbSettlement" scope="prototype"/>

    <bean id="sbSettlementVoService" class="com.iflat.sm.service.impl.SbSettlementVoServiceImpl"/>
    <bean id="sbSettlementVoDao" class="com.iflat.sm.dao.impl.SbSettlementVoDaoImpl"/>
    <bean id="sbSettlementVo" class="com.iflat.sm.entity.SbSettlementVo" scope="prototype"/>

    <bean id="sbSettlementDetailService" class="com.iflat.sm.service.impl.SbSettlementDetailServiceImpl">
        <property name="sbSettlementService" ref="sbSettlementService"/>
        <property name="targetCostSplitService" ref="targetCostSplitService"/>
        <property name="sbSettlementVoService" ref="sbSettlementVoService"/>
    </bean>
    <bean id="sbSettlementDetailDao" class="com.iflat.sm.dao.impl.SbSettlementDetailDaoImpl"/>
    <bean id="sbSettlementDetail" class="com.iflat.sm.bean.SbSettlementDetail" scope="prototype"/>

    <bean id="scSettlementService" class="com.iflat.sm.service.impl.ScSettlementServiceImpl">
        <property name="workflowService" ref="workflowService"/>
        <property name="rptProjectService" ref="rptProjectService"/>
        <property name="targetCostAccountService" ref="targetCostAccountService"/>
        <property name="teamService" ref="teamService"/>
        <property name="scSettlement" ref="scSettlement"/>
    </bean>
    <bean id="scSettlementDao" class="com.iflat.sm.dao.impl.ScSettlementDaoImpl"/>
    <bean id="scSettlement" class="com.iflat.sm.bean.ScSettlement" scope="prototype"/>

    <bean id="scSettlementVoService" class="com.iflat.sm.service.impl.ScSettlementVoServiceImpl"/>
    <bean id="scSettlementVoDao" class="com.iflat.sm.dao.impl.ScSettlementVoDaoImpl"/>
    <bean id="scSettlementVo" class="com.iflat.sm.entity.ScSettlementVo" scope="prototype"/>

    <bean id="scSettlementDetailService" class="com.iflat.sm.service.impl.ScSettlementDetailServiceImpl">
        <property name="scSettlementService" ref="scSettlementService"/>
        <property name="targetCostSplitService" ref="targetCostSplitService"/>
        <property name="scSettlementVoService" ref="scSettlementVoService"/>
    </bean>
    <bean id="scSettlementDetailDao" class="com.iflat.sm.dao.impl.ScSettlementDetailDaoImpl"/>
    <bean id="scSettlementDetail" class="com.iflat.sm.bean.ScSettlementDetail" scope="prototype"/>

    <bean id="projectTargetCostService" class="com.iflat.sm.service.impl.ProjectTargetCostServiceImpl"/>
    <bean id="projectTargetCostDao" class="com.iflat.sm.dao.impl.ProjectTargetCostDaoImpl"/>
    <bean id="projectTargetCost" class="com.iflat.sm.bean.ProjectTargetCost" scope="prototype"/>

    <bean id="projectTargetCostVoService" class="com.iflat.sm.service.impl.ProjectTargetCostVoServiceImpl"/>
    <bean id="projectTargetCostVoDao" class="com.iflat.sm.dao.impl.ProjectTargetCostVoDaoImpl"/>
    <bean id="projectTargetCostVo" class="com.iflat.sm.entity.ProjectTargetCostVo" scope="prototype"/>

    <bean id="targetCostService" class="com.iflat.sm.service.impl.TargetCostServiceImpl">
        <property name="projectTargetCostVoService" ref="projectTargetCostVoService"/>
        <property name="sbSettlementVoService" ref="sbSettlementVoService"/>
        <property name="scSettlementVoService" ref="scSettlementVoService"/>
    </bean>
    <bean id="targetCostDao" class="com.iflat.sm.dao.impl.TargetCostDaoImpl"/>
    <bean id="targetCost" class="com.iflat.sm.bean.TargetCost" scope="prototype"/>

    <bean id="targetCostVoService" class="com.iflat.sm.service.impl.TargetCostVoServiceImpl"/>
    <bean id="targetCostVoDao" class="com.iflat.sm.dao.impl.TargetCostVoDaoImpl"/>
    <bean id="targetCostVo" class="com.iflat.sm.entity.TargetCostVo" scope="prototype"/>

    <bean id="targetCostAccountService" class="com.iflat.sm.service.impl.TargetCostAccountServiceImpl"/>
    <bean id="targetCosAccountDao" class="com.iflat.sm.dao.impl.TargetCostAccountDaoImpl"/>
    <bean id="targetCostAccount" class="com.iflat.sm.bean.TargetCostAccount" scope="prototype"/>

    <bean id="targetCostSplitService" class="com.iflat.sm.service.impl.TargetCostSplitServiceImpl">
        <property name="projectTargetCostVoService" ref="projectTargetCostVoService"/>
        <property name="sbSettlementVoService" ref="sbSettlementVoService"/>
        <property name="scSettlementVoService" ref="scSettlementVoService"/>
    </bean>
    <bean id="targetCostSplitDao" class="com.iflat.sm.dao.impl.TargetCostSplitDaoImpl"/>
    <bean id="targetCostSplit" class="com.iflat.sm.bean.TargetCostSplit" scope="prototype"/>

    <bean id="srSettlementService" class="com.iflat.sm.service.impl.SrSettlementServiceImpl">
        <property name="workflowService" ref="workflowService"/>
        <property name="srSettlementDetlFirstService" ref="srSettlementDetlFirstService"/>
        <property name="srSettlement" ref="srSettlement"/>
        <property name="rptProjectService" ref="rptProjectService"/>
        <property name="userService" ref="userService"/>
        <property name="teamService" ref="teamService"/>
        <property name="srProjectManagerService" ref="srProjectManagerService"/>
    </bean>
    <bean id="srSettlementDao" class="com.iflat.sm.dao.impl.SrSettlementDaoImpl"/>
    <bean id="srSettlement" class="com.iflat.sm.bean.SrSettlement" scope="prototype"/>

    <bean id="srSettlementDetlFirstService" class="com.iflat.sm.service.impl.SrSettlementDetlFirstServiceImpl"/>
    <bean id="srSettlementDetlFirstDao" class="com.iflat.sm.dao.impl.SrSettlementDetlFirstDaoImpl"/>
    <bean id="srSettlementDetlFirst" class="com.iflat.sm.bean.SrSettlementDetlFirst" scope="prototype"/>

    <bean id="srSettlementSecondService" class="com.iflat.sm.service.impl.SrSettlementSecondServiceImpl">
        <property name="srSettlementBalance" ref="srSettlementBalance"/>
        <property name="srSettlementBalanceService" ref="srSettlementBalanceService"/>
        <property name="srSettlementDetlSecondService" ref="srSettlementDetlSecondService"/>
        <property name="teamService" ref="teamService"/>
        <property name="srSettlementSecond" ref="srSettlementSecond"/>
        <property name="rptProjectService" ref="rptProjectService"/>
    </bean>
    <bean id="srSettlementSecondDao" class="com.iflat.sm.dao.impl.SrSettlementSecondDaoImpl"/>
    <bean id="srSettlementSecond" class="com.iflat.sm.bean.SrSettlementSecond" scope="prototype"/>

    <bean id="srSettlementDetlSecondService" class="com.iflat.sm.service.impl.SrSettlementDetlSecondServiceImpl"/>
    <bean id="srSettlementDetlSecondDao" class="com.iflat.sm.dao.impl.SrSettlementDetlSecondDaoImpl"/>
    <bean id="srSettlementDetlSecond" class="com.iflat.sm.bean.SrSettlementDetlSecond" scope="prototype"/>

    <bean id="srSettlementBalanceService" class="com.iflat.sm.service.impl.SrSettlementBalanceServiceImpl"/>
    <bean id="srSettlementBalanceDao" class="com.iflat.sm.dao.impl.SrSettlementBalanceDaoImpl"/>
    <bean id="srSettlementBalance" class="com.iflat.sm.bean.SrSettlementBalance" scope="prototype"/>

    <bean id="srProjectManagerService" class="com.iflat.sm.service.impl.SrProjectManagerServiceImpl"/>
    <bean id="srProjectManagerDao" class="com.iflat.sm.dao.impl.SrProjectManagerDaoImpl"/>
    <bean id="srProjectManager" class="com.iflat.sm.bean.SrProjectManager" scope="prototype"/>

    <bean id="tecSettlementService" class="com.iflat.sm.service.impl.TecSettlementServiceImpl">
        <property name="workflowService" ref="workflowService"/>
    </bean>
    <bean id="tecSettlementDao" class="com.iflat.sm.dao.impl.TecSettlementDaoImpl"/>
    <bean id="tecSettlement" class="com.iflat.sm.bean.TecSettlement" scope="prototype"/>

    <bean id="tecSettlementDetailService" class="com.iflat.sm.service.impl.TecSettlementDetailServiceImpl"/>
    <bean id="tecSettlementDetailDao" class="com.iflat.sm.dao.impl.TecSettlementDetailDaoImpl"/>
    <bean id="tecSettlementDetail" class="com.iflat.sm.bean.TecSettlementDetail" scope="prototype"/>

    <bean id="subsidyService" class="com.iflat.sm.service.impl.SubsidyServiceImpl"/>
    <bean id="subsidyDao" class="com.iflat.sm.dao.impl.SubsidyDaoImpl"/>
    <bean id="subsidy" class="com.iflat.sm.bean.Subsidy" scope="prototype"/>

    <bean id="paymentService" class="com.iflat.sm.service.impl.PaymentServiceImpl"/>
    <bean id="paymentDao" class="com.iflat.sm.dao.impl.PaymentDaoImpl"/>
    <bean id="payment" class="com.iflat.sm.bean.Payment" scope="prototype"/>

    <bean id="outsourcingService" class="com.iflat.sm.service.impl.OutsourcingServiceImpl"/>
    <bean id="outsourcingDao" class="com.iflat.sm.dao.impl.OutsourcingDaoImpl"/>
    <bean id="outsourcing" class="com.iflat.sm.bean.Outsourcing" scope="prototype"/>

    <bean id="fineService" class="com.iflat.sm.service.impl.FineServiceImpl"/>
    <bean id="fineDao" class="com.iflat.sm.dao.impl.FineDaoImpl"/>
    <bean id="fine" class="com.iflat.sm.bean.Fine" scope="prototype"/>

    <bean id="discountService" class="com.iflat.sm.service.impl.DiscountServiceImpl"/>
    <bean id="discountDao" class="com.iflat.sm.dao.impl.DiscountDaoImpl"/>
    <bean id="discount" class="com.iflat.sm.bean.Discount" scope="prototype"/>

    <bean id="temporaryService" class="com.iflat.sm.service.impl.TemporaryServiceImpl">
        <property name="workflowService" ref="workflowService"/>
    </bean>
    <bean id="temporaryDao" class="com.iflat.sm.dao.impl.TemporaryDaoImpl"/>
    <bean id="temporary" class="com.iflat.sm.bean.Temporary" scope="prototype"/>

    <bean id="temporaryDetailService" class="com.iflat.sm.service.impl.TemporaryDetailServiceImpl"/>
    <bean id="temporaryDetailDao" class="com.iflat.sm.dao.impl.TemporaryDetailDaoImpl"/>
    <bean id="temporaryDetail" class="com.iflat.sm.bean.TemporaryDetail" scope="prototype"/>
</beans>