<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dhAction" class="com.iflat.dh.action.DhAction" scope="prototype">
        <property name="postService" ref="postService"/>
        <property name="post" ref="post"/>
        <property name="replyService" ref="replyService"/>
        <property name="reply" ref="reply"/>
    </bean>

    <bean id="postService" class="com.iflat.dh.service.impl.PostServiceImpl">
        <property name="workflowService" ref="workflowService"/>
    </bean>
    <bean id="postDao" class="com.iflat.dh.dao.impl.PostDaoImpl">
    </bean>

    <bean id="replyService" class="com.iflat.dh.service.impl.ReplyServiceImpl">
    </bean>
    <bean id="replyDao" class="com.iflat.dh.dao.impl.ReplyDaoImpl">
    </bean>
    <bean id="post" class="com.iflat.dh.bean.Post" scope="prototype"/>
    <bean id="reply" class="com.iflat.dh.bean.Reply" scope="prototype"/>
</beans>