<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Lib.Book">

    <insert id="insert" parameterType="com.iflat.lib.bean.Book">
        INSERT INTO LibBook
        VALUES (#{id},#{category},#{name},#{author},#{publisher},#{number})
    </insert>

    <update id="update" parameterType="com.iflat.lib.bean.Book">
        UPDATE LibBook
        <set>
            <if test="category!=null and !&quot;&quot;.equals(category.trim())">
                category=#{category},</if>
            <if test="name!=null and !&quot;&quot;.equals(name.trim())">
                name=#{name},</if>
            <if test="author!=null and !&quot;&quot;.equals(author.trim())">
                author=#{author},</if>
            <if test="publisher!=null and !&quot;&quot;.equals(publisher.trim())">
                publisher=#{publisher},</if>
            <if test="number!=null">
                number=#{number}</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.iflat.lib.bean.Book">
        DELETE LibBook
        WHERE id=#{id}
    </delete>

    <select id="list" parameterType="com.iflat.lib.bean.Book" resultMap="LibBookResult">
        SELECT id,category,name,author,publisher,number
        FROM LibBook
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="category!=null and !&quot;&quot;.equals(category.trim())">
                AND category=#{category}</if>
            <if test="name!=null and !&quot;&quot;.equals(name.trim())">
                AND name LIKE '%' + #{name} + '%'</if>
            <if test="author!=null and !&quot;&quot;.equals(author.trim())">
                AND author LIKE '%' + #{author} + '%'</if>
            <if test="publisher!=null and !&quot;&quot;.equals(publisher.trim())">
                AND publisher LIKE '%' + #{publisher} + '%'</if>
        </where>
        ORDER BY category,name,author,publisher,number
    </select>

    <resultMap type="com.iflat.lib.bean.Book" id="LibBookResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="category" column="category" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="author" column="author" jdbcType="VARCHAR"/>
        <result property="publisher" column="publisher" jdbcType="VARCHAR"/>
        <result property="number" column="number" jdbcType="INTEGER"/>
    </resultMap>
</mapper>