<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Pam.PartyBranch">

    <insert id="insert" parameterType="com.iflat.pam.bean.PartyBranch">
        INSERT INTO PamPartyBranch
        VALUES (#{id},#{name},#{dept},#{description},#{sequence})
    </insert>

    <update id="update" parameterType="com.iflat.pam.bean.PartyBranch">
        UPDATE PamPartyBranch
        <set>
            <if test="name!=null and !&quot;&quot;.equals(name.trim())">
                name=#{name},</if>
            <if test="dept!=null and !&quot;&quot;.equals(dept.trim())">
                dept=#{dept},</if>
            <if test="description!=null and !&quot;&quot;.equals(description.trim())">
                description=#{description},</if>
            <if test="sequence!=null and !&quot;&quot;.equals(sequence.trim())">
                sequence=#{sequence},</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.iflat.pam.bean.PartyBranch">
        DELETE PamPartyBranch
        WHERE id=#{id}
    </delete>

    <select id="list" parameterType="com.iflat.pam.bean.PartyBranch" resultMap="PamPartyBranchResult">
        SELECT id,name,dept,description,sequence
        FROM PamPartyBranch
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="name!=null and !&quot;&quot;.equals(name.trim())">
                AND name=#{name}</if>
            <if test="dept!=null and !&quot;&quot;.equals(dept.trim())">
                AND dept LIKE '%' + #{dept} + '%'</if>
            <if test="description!=null and !&quot;&quot;.equals(description.trim())">
                AND description LIKE '%' + #{description} + '%'</if>
            <if test="sequence!=null and !&quot;&quot;.equals(sequence.trim())">
                AND sequence=#{sequence}</if>
        </where>
        ORDER BY sequence
    </select>

    <resultMap type="com.iflat.pam.bean.PartyBranch" id="PamPartyBranchResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="dept" column="dept" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="sequence" column="sequence" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>