<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Lib.Record">

    <insert id="insert" parameterType="com.iflat.lib.bean.Record">
        INSERT INTO LibRecord
        VALUES (#{id},#{bookId},#{borrower},#{startDate},#{endDate})
    </insert>

    <update id="update" parameterType="com.iflat.lib.bean.Record">
        UPDATE LibRecord
        <set>
            <if test="bookId!=null and !&quot;&quot;.equals(bookId.trim())">
                bookId=#{bookId},</if>
            <if test="borrower!=null and !&quot;&quot;.equals(borrower.trim())">
                borrower=#{borrower},</if>
            <if test="startDate!=null and !&quot;&quot;.equals(startDate.trim())">
                startDate=#{startDate},</if>
            <if test="endDate!=null and !&quot;&quot;.equals(endDate.trim())">
                endDate=#{endDate}</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="com.iflat.lib.bean.Record">
        DELETE LibRecord
        WHERE id=#{id}
    </delete>

    <select id="list" parameterType="com.iflat.lib.bean.Record" resultMap="LibRecordResult">
        SELECT id,bookId,borrower,startDate,endDate
        FROM LibRecord
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="bookId!=null and !&quot;&quot;.equals(bookId.trim())">
                AND bookId=#{bookId}</if>
            <if test="borrower!=null and !&quot;&quot;.equals(borrower.trim())">
                AND borrower LIKE '%' + #{borrower} + '%'</if>
            <if test="startDate!=null">AND startDate &gt; #{startDate}</if>
            <if test="endDate!=null">AND startDate &lt; DATEADD(day,1,#{endDate})</if>
        </where>
        ORDER BY bookId,borrower,startDate DESC,endDate DESC
    </select>

    <resultMap type="com.iflat.lib.bean.Record" id="LibRecordResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="bookId" column="bookId" jdbcType="VARCHAR"/>
        <result property="borrower" column="borrower" jdbcType="VARCHAR"/>
        <result property="startDate" column="startDate" jdbcType="DATE"/>
        <result property="endDate" column="endDate" jdbcType="DATE"/>
    </resultMap>
</mapper>