<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Code.Employee">

    <select id="list" parameterType="com.iflat.code.bean.Employee" resultMap="codeEmployeeResult">
        SELECT account,name,sex,deptCode,deptName,teamCode,teamName,groupCode,groupName,category,type,property,title,idCardNo,birth,nation,birthplace,startWorking,becomeFullMember,enrolment,graduation,joinParty
        FROM code.dbo.V_Employee
        <where>
            <if test="account!=null">AND account=#{account}</if>
            <if test="name!=null">AND name=#{name}</if>
            <if test="sex!=null">AND sex=#{sex}</if>
            <if test="deptCode!=null">AND deptCode=#{deptCode}</if>
            <if test="deptName!=null">AND deptName=#{deptName}</if>
            <if test="teamName!=null">AND teamName=#{teamName}</if>
            <if test="groupName!=null">AND groupName=#{groupName}</if>
            <if test="category!=null">AND category=#{category}</if>
            <if test="type!=null">AND type=#{type}</if>
            <if test="property!=null">AND property=#{property}</if>
            <if test="title!=null">AND title=#{title}</if>
        </where>
        ORDER BY deptCode,teamName,groupName,account
    </select>

    <resultMap type="com.iflat.code.bean.Employee" id="codeEmployeeResult">
        <result property="account" column="account" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="deptCode" column="deptCode" jdbcType="VARCHAR"/>
        <result property="deptName" column="deptName" jdbcType="VARCHAR"/>
        <result property="teamCode" column="teamCode" jdbcType="VARCHAR"/>
        <result property="teamName" column="teamName" jdbcType="VARCHAR"/>
        <result property="groupCode" column="groupCode" jdbcType="VARCHAR"/>
        <result property="groupName" column="groupName" jdbcType="VARCHAR"/>
        <result property="category" column="category" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="property" column="property" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="idCardNo" column="idCardNo" jdbcType="VARCHAR"/>
        <result property="birth" column="birth" jdbcType="DATE"/>
        <result property="nation" column="nation" jdbcType="VARCHAR"/>
        <result property="birthplace" column="birthplace" jdbcType="VARCHAR"/>
        <result property="startWorking" column="startWorking" jdbcType="DATE"/>
        <result property="becomeFullMember" column="becomeFullMember" jdbcType="DATE"/>
        <result property="enrolment" column="enrolment" jdbcType="DATE"/>
        <result property="graduation" column="graduation" jdbcType="DATE"/>
        <result property="joinParty" column="joinParty" jdbcType="DATE"/>
    </resultMap>
</mapper>