<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Ss.AccParty">

    <insert id="insert" parameterType="com.iflat.ss.bean.AccParty">
        INSERT INTO SsAccParty
        VALUES (#{id},#{accId},#{type},#{dept},#{team},#{groupName},#{title},#{personAcc},#{personName},#{opIdCardNo},#{age},#{seniority},#{sex},#{injuryLvl})
    </insert>
    
    <update id="update" parameterType="com.iflat.ss.bean.AccParty">
        UPDATE SsAccParty
        <set>
            <if test="accId!=null">accId=#{accId},</if>
            <if test="type!=null">type=#{type},</if>
            <if test="dept!=null">dept=#{dept},</if>
            <if test="team!=null">team=#{team},</if>
            <if test="groupName!=null">groupName=#{groupName},</if>
            <if test="title!=null ">title=#{title},</if>
            <if test="personAcc!=null">personAcc=#{personAcc},</if>
            <if test="personName!=null">personName=#{personName},</if>
            <if test="opIdCardNo!=null">opIdCardNo=#{opIdCardNo},</if>
            <if test="age!=null">age=#{age},</if>
            <if test="seniority!=null">seniority=#{seniority},</if>
            <if test="sex!=null">sex=#{sex},</if>
            <if test="injuryLvl!=null">injuryLvl=#{injuryLvl},</if>
        </set>
        WHERE id=#{id}
    </update>
    
    <delete id="delete" parameterType="com.iflat.ss.bean.AccParty">
        DELETE SsAccParty
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="accId!=null and !&quot;&quot;.equals(accId.trim())">
                AND accId=#{accId}</if>
        </where>
    </delete>

    <select id="list" parameterType="com.iflat.ss.bean.AccParty" resultMap="SsAccPartyResult">
        SELECT id,accId,type,dept,team,groupName,title,personAcc,personName,opIdCardNo,age,seniority,sex,injuryLvl
        FROM SsAccParty
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="accId!=null and !&quot;&quot;.equals(accId.trim())">AND accId=#{accId}</if>
            <if test="type!=null and !&quot;&quot;.equals(type.trim())">AND type=#{type}</if>
            <if test="dept!=null and !&quot;&quot;.equals(dept.trim())">AND dept=#{dept}</if>
            <if test="team!=null and !&quot;&quot;.equals(team.trim())">AND team LIKE '%'+#{team}+'%'</if>
            <if test="groupName!=null and !&quot;&quot;.equals(groupName.trim())">AND groupName LIKE '%'+#{groupName}+'%'</if>
            <if test="title!=null and !&quot;&quot;.equals(title.trim())">AND title=#{title}</if>
            <if test="personAcc!=null and !&quot;&quot;.equals(personAcc.trim())">AND personAcc=#{personAcc}</if>
            <if test="personName!=null and !&quot;&quot;.equals(personName.trim())">AND personName=#{personName}</if>
            <if test="opIdCardNo!=null and !&quot;&quot;.equals(opIdCardNo.trim())">AND opIdCardNo=#{opIdCardNo}</if>
            <if test="sex!=null and !&quot;&quot;.equals(sex.trim())">AND sex=#{sex}</if>
            <if test="injuryLvl!=null and !&quot;&quot;.equals(injuryLvl.trim())">AND injuryLvl=#{injuryLvl}</if>
        </where>
        ORDER BY type,personName
    </select>

    <resultMap type="com.iflat.ss.bean.AccParty" id="SsAccPartyResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="accId" column="accId" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="dept" column="dept" jdbcType="VARCHAR"/>
        <result property="groupName" column="groupName" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="personAcc" column="personAcc" jdbcType="VARCHAR"/>
        <result property="personName" column="personName" jdbcType="VARCHAR"/>
        <result property="opIdCardNo" column="opIdCardNo" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="seniority" column="seniority" jdbcType="INTEGER"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="injuryLvl" column="injuryLvl" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>