<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Report.Wip.Manhour.DetailOfMiscWo">

    <select id="list" parameterType="com.iflat.report.entity.Parameter" resultMap="RptDetailOfMiscWoResult">
        SELECT woId,type,reason,content,manhour,projectCode,projectName,orgName,teamName,groupName,personInCharge,createTime
        FROM RptDetailOfMiscWo
        <where>
            <if test="projectCode!=null">projectCode=#{projectCode}</if>
            <if test="startTime!=null">AND createTime &gt;= #{startTime}</if>
            <if test="endTime!=null">AND createTime &lt;= #{endTime}+' 23:59:59:999'</if>
            <if test="category!=null">AND type=#{category}</if>
            <if test="orgName!=null">AND orgName=#{orgName}</if>
            <if test="teamName!=null">AND teamName=#{teamName}</if>
        </where>
        ORDER BY createTime
    </select>

    <resultMap type="com.iflat.report.bean.wip.manhour.DetailOfMiscWo" id="RptDetailOfMiscWoResult">
        <result property="woId" column="woId" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="reason" column="reason" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="manhour" column="manhour" jdbcType="DOUBLE"/>
        <result property="projectCode" column="projectCode" jdbcType="VARCHAR"/>
        <result property="projectName" column="projectName" jdbcType="VARCHAR"/>
        <result property="orgName" column="orgName" jdbcType="VARCHAR"/>
        <result property="teamName" column="teamName" jdbcType="VARCHAR"/>
        <result property="groupName" column="groupName" jdbcType="VARCHAR"/>
        <result property="personInCharge" column="personInCharge" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="DATE"/>
    </resultMap>
</mapper>