<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Report.Bi.CostItem">

    <select id="list" parameterType="com.iflat.report.bean.bi.CostItem" resultMap="RptBiCostItemResult">
        SELECT id,projNo,subject,year,month,deptCode,deptName,description,quantity,unit,amount,docNo
        FROM V_BiCostItem
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="projNo!=null">projNo=#{projNo}</if>
            <if test="subject!=null">AND subject=#{subject}</if>
            <if test="year!=null">AND year=#{year}</if>
            <if test="month!=null">AND month=#{month}</if>
            <if test="deptCode!=null">AND deptCode=#{deptCode}</if>
            <if test="deptName!=null">AND deptName=#{deptName}</if>
            <if test="unit!=null">AND unit=#{unit}</if>
            <if test="docNo!=null">AND docNo=#{docNo}</if>
        </where>
        ORDER BY projNo, year, month, deptCode, subject, description, amount DESC, id
    </select>

    <select id="listBatch" parameterType="java.util.List" resultMap="RptBiCostItemResult">
        SELECT id,projNo,subject,year,month,deptCode,deptName,description,quantity,unit,amount,docNo
        FROM V_BiCostItem
        <where>
            <foreach collection="list" item="item" index="index" open="(" close=")" separator="OR">
                <if test="id!=null">id=#{item.id}</if>
                <if test="projNo!=null">projNo=#{item.projNo}</if>
                <if test="subject!=null">AND subject=#{item.subject}</if>
                <if test="year!=null">AND year=#{item.year}</if>
                <if test="month!=null">AND month=#{item.month}</if>
                <if test="deptCode!=null">AND deptCode=#{item.deptCode}</if>
                <if test="deptName!=null">AND deptName=#{item.deptName}</if>
                <if test="unit!=null">AND unit=#{item.unit}</if>
                <if test="docNo!=null">AND docNo=#{item.docNo}</if>
            </foreach>
        </where>
        ORDER BY projNo, year, month, deptCode, subject, description, amount DESC, id
    </select>

    <resultMap type="com.iflat.report.bean.bi.CostItem" id="RptBiCostItemResult">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="projNo" column="projNo" jdbcType="VARCHAR"/>
        <result property="subject" column="subject" jdbcType="VARCHAR"/>
        <result property="year" column="year" jdbcType="CHAR"/>
        <result property="month" column="month" jdbcType="CHAR"/>
        <result property="deptCode" column="deptCode" jdbcType="VARCHAR"/>
        <result property="deptName" column="deptName" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="quantity" column="quantity" jdbcType="DOUBLE"/>
        <result property="unit" column="unit" jdbcType="VARCHAR"/>
        <result property="amount" column="amount" jdbcType="DOUBLE"/>
        <result property="docNo" column="docNo" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>