<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Report.Bi.DeptCstCtrl">

    <select id="list" parameterType="com.iflat.report.bean.bi.DeptCstCtrl" resultMap="RptBiDeptCstCtrlResult">
        SELECT id,dept,type,budget,actual,comment,month,fixed,version
        FROM BiDeptCstCtrl
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="dept!=null">AND dept=#{dept}</if>
            <if test="type!=null">AND type=#{type}</if>
            <if test="month!=null">AND DATEDIFF(MONTH,#{month},month)=0</if>
        </where>
    </select>

    <resultMap type="com.iflat.report.bean.bi.DeptCstCtrl" id="RptBiDeptCstCtrlResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="dept" column="dept" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="budget" column="budget" jdbcType="DOUBLE"/>
        <result property="actual" column="actual" jdbcType="DOUBLE"/>
        <result property="comment" column="comment" jdbcType="VARCHAR"/>
        <result property="month" column="month" jdbcType="DATE"/>
        <result property="fixed" column="fixed" jdbcType="DATE"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>
</mapper>