<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Report.Bi.ProjectCstCtrl">

    <select id="list" parameterType="com.iflat.report.bean.bi.ProjectCstCtrl" resultMap="RptBiProjectCstCtrlResult">
        SELECT id,projNo,dept,type,target,actual,comment,month,fixed,version
        FROM BiProjectCstCtrl
        <where>
            <if test="id!=null">id=#{id}</if>
            <if test="projNo!=null">AND projNo=#{projNo}</if>
            <if test="dept!=null">AND dept=#{dept}</if>
            <if test="type!=null">AND type=#{type}</if>
        </where>
    </select>

    <resultMap type="com.iflat.report.bean.bi.ProjectCstCtrl" id="RptBiProjectCstCtrlResult">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="projNo" column="projNo" jdbcType="VARCHAR"/>
        <result property="dept" column="dept" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="target" column="target" jdbcType="DOUBLE"/>
        <result property="actual" column="actual" jdbcType="DOUBLE"/>
        <result property="comment" column="comment" jdbcType="VARCHAR"/>
        <result property="month" column="month" jdbcType="DATE"/>
        <result property="fixed" column="fixed" jdbcType="DATE"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>
</mapper>